[2016-01-25 09:52] alexbooker opened #1 "Show a friendly error message when the given template or scheme does not exist"
_**User stories**:_

- As a user, I am presented with a friendly error message when a **theme** I specify doesn't exist.
- As a user, I am presented with a friendly error message when a **template** I specify doesn't exist.

_**Example**:_

[code]

[code]

[2016-01-25 10:00] alexbooker opened #2 "Show a friendly error message when required arguments are not specified"
_**User stories**:_

- As a user, I am presented with a friendly error message when I do not specify a template name (`-t`).
- As a user, I am presented with a friendly error message when I do not specify a scheme name (`-s`).

_**Examples**:_

[code]

[code]

[code]

[2016-01-25 10:06] alexbooker opened #3 "Add more detail to the manual"
_**User stories**:_

- As a user, I am presented with a useful man page when I use the `--help` flag.

_**Examples**:_

[code]

[2016-01-25 10:12] alexbooker opened #4 "Add more color models to the template context"
_**User story**:_

- As a developer, I am given each base16 color in the following format:
  - [x] hex
  - [x] hexbgr
  - [x] dhex
  - [x] rgb
  - [x] srgb

[2016-01-25 13:45] alexbooker opened #5 "Add --template and --scheme flags"
_**User stories**:_

- As a user, I want to write `--scheme` instead of `s` and `--template` instead of `-t`.

[2016-01-25 14:02] #5 closed

[2016-01-25 14:46] #2 closed

[2016-01-25 16:30] #3 closed

[2016-01-25 17:06] alexbooker opened #6 "Configure ESLint to recognize ES2016 await feature"

[2016-01-25 17:30] #1 closed

[2016-01-26 20:51] #6 closed

[2016-01-27 21:41] alexbooker opened #7 "Add output directory to .gitignore"
If I don't write it here, I'll forget...

[2016-01-27 21:46] #7 closed

[2016-01-27 22:22] alexbooker opened #8 "Show success message when cli has finished executing"

[2016-01-27 22:23] alexbooker opened #9 "Consider a different name for the output folder"
@cruor99 suggested that I change the name from `output` to `base16/output` or something similar.

[2016-01-27 22:23] alexbooker opened #10 "Add -h alias for the --help argument"

[2016-01-27 22:25] alexbooker opened #11 "Point user in direction of help page when invalid arguments are specified"
Inform the user to look at the --help page **only**.

[2016-01-27 22:30] alexbooker opened #12 "Invalid template error contains wrong url"
It links to the schemes directory when it should link to the template directory.

[2016-01-29 22:10] #10 closed

[2016-01-29 22:23] #8 closed

[2016-01-30 20:25] #12 closed

[2016-01-30 20:38] #11 closed

[2016-01-30 20:55] alexbooker opened #13 "Add tests to ensure that success messages are green and error messages are red"
In an attempt to eliminate the possibility of a trivial regression, tests should be included to verify that

- Success messages are output to the console with a green colour; and,
- error messages are output to the console with a red colour!

I haven't included these tests as I'm not _yet_ sure how to go about testing this.

The module I use to colourize the output namely, [Chalk](https://github.c

[2016-01-30 20:56] #9 closed

[2016-02-03 13:18] aloisdg opened #14 "How can I run this project?"
Edit

Because the subject change during the thread, I moved this issue to #15

====

Hello,

AFAIK, I cannot use base16-builder like this:

[code]

It would be nice to add path support.
Something like this (pseudocode)

[code]

We could also use a specific flag but I find this idea more convenient.

Cheers,

[2016-02-03 15:01] alexbooker commented on #14
Hello :smile:

I agree 100%.

Do you have any interest in implementing this? If not, I'll likely get to it within a week. Thanks.

[2016-02-03 15:07] aloisdg commented on #14
@alexbooker I am  looking to it. Babeljs is a weird obscur tool for me. I dont even know how to run it. I install a ton of package from nom add es2015 preset but nothing run. Right now, I have a stringify error from outta space.

Why not using Typescript or plain nodejs for a project like this one?

[2016-02-03 16:53] alexbooker commented on #14
@aloisdg,

 I admit the repository isn't very contributor-friendly at the moment. Sorry about that. To be honest, I wasn't expecting anyone to submit an issue at this time, let alone a pull request :open_mouth:!

Can you please tell me the specific error you're experiencing?

(Until I write a `contributing.md`, I will be more than happy to assist you in getting up and running!)

[2016-02-03 18:16] aloisdg commented on #14
The original base16 is a bit slow. I am looking forward for an alternative. :)
In fact, if I didnt find your project I would create mine (in node + TypeScript mostly).

For my problem, what is the proper way to build this project? I have no clue how to use babel.

[code]

Btw, why did you choose babel? You need a support for something?

[2016-02-03 18:33] alexbooker commented on #14
@aloisdg,

Yeah. [_Async functions_](https://jakearchibald.com/2014/es7-async-functions/)!

You'll want to use the [scripts](https://github.com/alexbooker/base16-builder/blob/master/package.json#L8) I made.

- To run the tests:

[code]

- To run the module from source:

[code]

Please let me know how you get on :smile:

[2016-02-03 18:57] aloisdg commented on #14
Neat. Coming from a C# background, async/await are awesome. Never think about try them in [TypeScript](https://blogs.msdn.microsoft.com/typescript/2015/11/03/what-about-asyncawait/) (es7 spec supported).

Awesome. You are using this like a make file. Ok nice. I did most of this by hand. I missed some ^^'

Come back to the problem.

[code]

I am using nodejs-5.5.0-1 and npm-3.6.0-1 on Arch Linux if

[2016-02-03 19:00] aloisdg opened #15 "Allow to use path to test custom theme"
Hello,

AFAIK, I cannot use base16-builder like this:

[code]

It would be nice to add path support.
Something like this (pseudocode)

[code]

We could also use a specific flag but I find this idea more convenient.

Cheers,

_Move from #14 _

[2016-02-03 19:05] alexbooker commented on #14
I come from a C# background, too ;)
Good call on splitting this into two issues!
I know this sounds dumb, but did you run npm install?
--
Sent from Android Wednesday, 03 February 2016, 07:01p.m. +00:00 from Alois < notifications@github.com> :

Error: Couldn't find preset "es2015-node5" relative to directory "/home/alois/base16/base16-builder"

// [ ... ]

npm ERR! Failed at the base16-builder@0.0.

[2016-02-03 19:19] aloisdg commented on #14
FTW!

You are welcome! it will be better for everybody :)

Why it is dumb? I am a beginner in node. ;)

I run `npm install` and It download some stuff `loadDep:yargs->foobar`. Basically I guess I missed some dependencies.

[2016-02-03 19:20] alexbooker commented on #14
@aloisdg So you it working? Woo :smile:

[2016-02-03 19:23] aloisdg commented on #14
@alexbooker Yes. I can `npm run build` and use ./dist/cli.js -h \o/

[2016-02-03 19:24] alexbooker commented on #14
@aloisdg Sweet. Let me know if there's anything I can help with. I'll be happy to help.

[2016-02-03 19:35] aloisdg commented on #14
It could be a good idea to add this steps to the ReadMe. I close this for now. Thank you for the help.

[2016-02-03 19:35] alexbooker commented on #14
@aloisdg I'll definitely do that.

[2016-02-03 19:35] #14 closed

[2016-02-03 20:30] aloisdg commented on #4
I think about searching/coding a script to convert erb file to nunjucks file. nunjucks template support funtion too. It will be handy to convert all templates from the original.

[2016-02-03 20:40] alexbooker opened #16 "Port more templates"

[2016-02-03 20:41] alexbooker commented on #4
I intentionally used the same: `base["12"]["hex"]` syntax as the original project to make the transition from erb -> nunjucks easier.

As you can see, I have only added a couple of [templates](https://github.com/alexbooker/base16-builder/tree/master/db/templates) so far, but I would really appreciate help porting the rest.

Let's continue this discussion in #16.

[2016-02-03 21:00] aloisdg commented on #15
I am working on it.

[2016-02-03 22:16] alexbooker commented on #15
Awesomeee!
--
Sent from Android Wednesday, 03 February 2016, 09:00p.m. +00:00 from Alois < notifications@github.com> :

[2016-02-03 23:44] aloisdg commented on #16
How can you deal with this kind of template?

`<%= %Q|"#{@base["01"]["rgb"][0]}"|.rjust(5) %>`

[source](https://github.com/chriskempson/base16-builder/blob/master/templates/powerpaint/rcpx.erb)

Nunjucks template support function. Can you implement something like this?

[2016-02-03 23:51] aloisdg commented on #16
I wrote a quick bash script to convert basic query form erb to nunjucks:

[code]

It is a work in progress, but a start. I loose the indentation (missing whitespace at start).

You can see the regex used here:

    (.*)(<%= @base\[\"0)(\w)(\"\]\[\")(\w+)(\"\] %>)(.*)

![Regular expression visualization](https://www.debuggex.com/i/nbkjn0tPg1NIpx2J.png)

[Debuggex Demo](https://www.debuggex.com/r/nb

[2016-02-04 01:19] alexbooker commented on #16
Well, Nunjucks _does_ allow you to evaluate an expression within brackets:

    {{ base["hex"]["rgb"] + "foo" }}

I'm not sure what the equivalent to `rjust` in JavaScript is at this time, but you could do something like:

    {{ base["hex"]["rgb"].rjust(5) }}

I _guess_ `rjust` is like [`PadLeft`](https://www.google.co.uk/search?q=padleft+c%23&oq=padleft+c%23&aqs=chrome.0.0l6.1720j0j7&sourceid=ch

[2016-02-04 01:22] alexbooker commented on #16
_Awesome!_ Seriously, that is _so_ cool :smile:

I guess there are two options:

1. Run the above script on every template and submit a massive pull request
2. Put the script in a [Gist](https://gist.github.com/) and somewhere in [`readme.md`](https://github.com/alexbooker/base16-builder/blob/master/readme.md), tell the user that, if they want to port a template, they can do so using your script,

[2016-02-04 09:16] aloisdg commented on #16
[Yes](http://ruby-doc.org/core-2.3.0/String.html) (ctrl+f "rjust").

normal.

 :smile:

I think we should convert most of them ourself and build a specific PR for this with a huge check list to show the progression. I will move the script to gist. A good idea would be to create a wiki with a "how to convert an erb to nunjucks". Also you could move the project to an organization. It will be nice to

[2016-02-04 09:36] aloisdg opened #18 "What do you think of the idea of moving to TypeScript?"
Hello,

A quick question, I am asking myself. What do you think of a move to TypeScript?

- AFAIK, you use Atom who support TypeScript.
- You are coming from a C# background too, the TS's syntax should easier for both of us.
- TypeScript is widely use and a popular transpiler.
- TS support ES6 features with some ES7 feature like async/await.
- Since we can use it with plain, the migration will be

[2016-02-04 10:57] alexbooker opened #19 "Write a script to import template names from https://github.com/chriskempson/base16-builder"
Write a throwaway script that

1. Reads every template name [from this folder](https://github.com/chriskempson/base16-builder/tree/master/templates)
2. Generates a [task list](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments) for every template name:

     ![](https://camo.githubusercontent.com/09cbc14d7458e0e2c52f1a66fb8890152da978c9/68747470733a2f2f662e636c6f75642e67697468756

[2016-02-04 10:59] aloisdg commented on #19
I can do this if you want.

[2016-02-04 11:02] aloisdg commented on #4
You plan to do it by hand or with a lib? [Color-convert](https://www.npmjs.com/package/color-convert) could do the job. By the way, what is hexbgr and dhex?

[2016-02-04 11:09] alexbooker commented on #19
@aloisdg Yes please.

Here is a sample output:

- [ ] dmenu-light.nunjucks
- [ ] emacs-dark-theme.el.nunjucks
- [ ] emacs-light-theme.el.nunjucks
- [x] ~~rxvt-unicode-dark.nunjucks~~
- [x] ~~rxvt-unicode-light.nunjucks~~

**Note:** I want the [`db/templates`](https://github.com/alexbooker/base16-builder/tree/master/db/templates) folder to be _flat_. No more sub-directories.

**Also note:** Ideally

[2016-02-04 11:12] aloisdg commented on #19
What about folder who have more than one? I am thinking about Atom for example. I dont mind breaking the original model if we keep an entry on the wiki about it. A kind of "How this project differs from the original". I think it is very important to let people switch smoothly from one to another.

[2016-02-04 11:16] alexbooker commented on #18
I have to admit, the prospect of using TS is inciting, but I want to continue using Babel for the following reasons:

- I already spent some time setting up the Babel workflow
- I _suspect_ most contributors will find Babel less intimdidating than TS
- I recently wrote an [article](https://twitter.com/bookercodes/status/694150858112647169) on Babel that I can share with new contributors
- I want t

[2016-02-04 11:16] #18 closed

[2016-02-04 11:22] alexbooker commented on #19
@aloisdg It shouldn't be _that_ much different from the original. And yes, I agree, there should be a section in the documentation outlining the differences.

I noticed that the Atom package uses two files, too. I wonder if it's possible to combine them somehow...?

Aside from that, I'm not sure what to do... _yet_ :stuck_out_tongue:

[2016-02-04 11:24] alexbooker commented on #4
@aloisdg Definitely going to use a module. I figure I just need to add some more keys [here](https://github.com/alexbooker/base16-builder/blob/master/lib/index.js#L16).

I don't know off-hand, sorry :disappointed:

[2016-02-04 11:25] #15 closed

[2016-02-04 11:30] alexbooker commented on #16
I agree but instead of a massive pull request, let's make an issue with a [task list](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments). See #19 for details.

:+1:

I like the way you think, @aloisdg! I actually  made an [organization](https://github.com/base16-builder) the other day, mostly to reserve the name. If and when tools emerge, I will migrate this repository to the or

[2016-02-04 11:33] aloisdg commented on #4
You find it on the original project?

[2016-02-04 11:39] alexbooker commented on #4
Omg I am such an idiot! Yeah, I found it [here](https://github.com/chriskempson/base16-builder/blob/master/base16#L93).

[2016-02-04 14:04] aloisdg commented on #19
For now, I have:

- [ ] [atom](https://github.com/chriskempson/base16-builder/tree/master/templates/atom)
- [ ] [bbedit](https://github.com/chriskempson/base16-builder/tree/master/templates/bbedit)
- [ ] [chrome-devtools](https://github.com/chriskempson/base16-builder/tree/master/templates/chrome-devtools)
- [ ] [codemirror](https://github.com/chriskempson/base16-builder/tree/master/templates/code

[2016-02-04 14:07] aloisdg commented on #19
Why you dont want to keep folder? Can you at least keep the same name for now (i3 vs i3wm)? I can eqsily write a script to autochecked boxes if we keep the old name.

[2016-02-04 14:19] aloisdg commented on #18
JS is a weird place with too many tool, lib, framework etc. It is a feat and a flaw. I miss the stability of .NET. TypeScript feel almost like home when you come from C#, Java, C++, etc. This discussion is closed. For now, lets go for Babel. Good to learn something new. :)

[2016-02-04 14:31] aloisdg commented on #19
Another output with file:

- [ ] [atom--dark-base.less.erb](https://github.com/chriskempson/base16-builder/tree/master/templates/atom/-dark-base.less.erb)
- [ ] [atom--dark-base.less.erb-old](https://github.com/chriskempson/base16-builder/tree/master/templates/atom/-dark-base.less.erb-old)
- [ ] [atom--dark-syntax-variables.less.erb](https://github.com/chriskempson/base16-builder/tree/master/templ

[2016-02-04 14:33] aloisdg commented on #19
I would love to add a link for each to the author and link to file in the project and one line to the old project.

[2016-02-04 14:52] alexbooker commented on #19
Nice job. You're a bash wizard :wink:

------

Because the original tool mandates that you specify a path:

[code]

I think it's much more intuitive to specify names:

[code]

Getting rid of folders enables this.

------

Sure. I can manually rename the templates after. Remember:

- I want consistent names for all templates
- After version 1.0.0, template names shouldn't change because that could

[2016-02-04 15:26] aloisdg commented on #19
I dont really like bash but its handy.

I don't think so. As an user, you shouldnt care about how the file is named. You want the template thats all. We could imagine something like this:

[code]

with "-l, --luminosity" (mandatory field) and "-p,--palette" (optional field)

[2016-02-04 16:12] aloisdg opened #20 "Add support for group of template"
Hello,

For now it could be done easily with bash script who are going to call `base16-builder` a bunch of time. I think it could be neat to handle this ourself something in this idea:

[code]

It could be handy when you want to change a complete theme.

If we add this, we are going to need to support an `output` directory. Afaik, pipes are strong but limited for this case.

I am perfectly ok with

[2016-02-04 16:18] alexbooker commented on #19
:+1: :+1: :+1:

I think that is really pleasant syntax. Give me some time to mull it over and gather some external input.

At the moment I am **against** writing files to the system. I would much rather write to `stdout` and allow the user to pipe it wherever.

That makes it impossible to generate two themes at once.

I will add an option to generate all themes in the future _if_ there's a demand.

[2016-02-04 16:22] alexbooker commented on #20
Very nice suggestion. This could also be expanded to generate _all_ themes if the user desires.

How about we make it a separate module for now. If it becomes popular, we can include it in the core.

[2016-02-04 16:34] aloisdg commented on #20
Which one? To use a inside logic (first proposition) or a wrapper (second proposition)?

[2016-02-04 16:40] alexbooker commented on #20
I meant that to mean _"the wrapper"_!

You could make it a stand-alone Bash script or an npm module.

[2016-02-04 16:48] alexbooker commented on #20
If you have any more thoughts on the subject, I'd love to hear 'em.

[2016-02-04 17:09] aloisdg commented on #20
A wrapper as a script who are going to wrap base16-builder.

[code]

[2016-02-04 17:10] alexbooker commented on #20
@aloisdg Something like that, yeah!

[2016-02-04 17:38] aloisdg commented on #19
I agree. You can open a new issue for this with a flag "up-for-graps". Maybe someone will do it.

So we can create a spec.

The delimiter is '-' and the extension is '.nunjucks'

| name       | type   | mandatory | note                              |
|------------|--------|-----------|-----------------------------------|
| tool       | string | true      | can contain any character         |
| lum

[2016-02-04 17:44] alexbooker commented on #19
Yes, exactly!

As long as we stick to that specification, it should be feasible to implement this syntax:

    $ base16-builder -s gooey -t rxvt-unicode -l dark -p 256

[2016-02-04 17:55] aloisdg commented on #19
Lets go. Lets convert all this file.

[2016-02-04 20:05] aloisdg commented on #19
This spec is now valid.

The delimiter is '-' and the extension is '.nunjucks'

| name       | type   | mandatory | note                              |
|------------|--------|-----------|-----------------------------------|
| tool       | string | true      | can contain any character. It is a folder        |
| luminosity | enum   | true      | value possible are dark and light |
| palette    | in

[2016-02-04 20:06] aloisdg commented on #20
Maybe later in another project. (I think I will build it myself)

[2016-02-04 20:06] #20 closed

[2016-02-04 22:36] alexbooker opened #22 "Add more intuitive command-line arguments"
_**User stories**:_

- As a user, I am able to specify **1,** a scheme name, **2,** a theme name, **3,** luminosity and optionally, **4,** a palette.
- As a user, if I do not specify luminosity or if I specify an invalid luminosity, I get an error.

_**Examples**:_

[code]

[code]

[code]

[code]

[code]

[2016-02-05 19:53] aloisdg commented on #20
Could be useful for this kind of case: [Way to change ricing profiles?](https://www.reddit.com/r/unixporn/comments/446jpt/way_to_change_ricing_profiles/)

[2016-02-05 23:53] #4 closed

[2016-02-06 09:12] aloisdg commented on #16
I am looking to convert the content of `i3status`.

The template is:

[code]

For this case, we dont care at all about dark or light. Only colors are here. I will make a copy of the file under the light name.

[2016-02-06 13:22] alexbooker opened #24 "Logo"
Would anyone be interested in designing a **vector** logo for use in the [readme.md](https://github.com/alexbooker/base16-builder/blob/master/readme.md)?

In terms of design, I was thinking:

- Minimal
- :hammer: emoji?
- Should probably use _at most_ 16 colors
- I like the [hipster chalkboard look and feel](http://designpieces.com/2014/02/chalkboard-look-and-feel/) but am flexible
- I especially

[2016-02-06 13:47] IgnaceMaes commented on #24
Just needs a finishing touch, maybe I'll add some more pink? Opinions are welcome.

![Base16-builder](http://puu.sh/mXUXa/4001f5a117.png)

[2016-02-06 13:48] alexbooker commented on #24
@IgnaceMaes :laughing:

[2016-02-06 13:59] Phisherman commented on #24
![image](https://cloud.githubusercontent.com/assets/2873986/12867010/2283f5c8-cce2-11e5-8ae7-dde6563d3a5e.png)

Had the idea of a base, which got assembled

[2016-02-06 14:16] alexbooker commented on #24
@Phisherman First of all, thank you for taking the time to sketch a logo.

I really like the idea of the brick base, especially it there'll be 16 bricks.

I'm not really too sure about the way the bottom half of the _"6"_ is cut off. Also, is this one logo or two separate concepts?

[2016-02-06 14:22] Phisherman commented on #24
@alexbooker It's one concept. The bricks on the right are bricks needed to finish the base. I thought also about the `6`. It's not very good visible. It could easily be solved by changing the position of the missing bricks. I would also support the logo's meaning by adding `Base16 Builder` Text on the bottom of it.

[2016-02-06 14:26] aloisdg commented on #24
We can use base16-builder for base16-builder. Can you guess witch theme I used? :)

![solarized](http://i.imgur.com/lky6c7N.png)

You can find the template [here](http://pastebin.com/raw/LiQBWBR5).
The original logo is made by [Bohdan Burmich](https://thenounproject.com/b4bb/).

[2016-02-06 14:30] alexbooker commented on #24
@Phisherman I really like it. I think if you put the separated bricks _very_ closer to the base or possibly conjoin them so the _"16"_ is clear then it could look awesome. I also like your point about supporting the logo's meaning.

Would you be happy to take this from paper to to an editor? It would be very much appreciated.

----

Me and @aloisdg spoke privately and we like your concept the most

[2016-02-06 14:33] Phisherman commented on #24
@alexbooker OK!

[2016-02-06 14:33] alexbooker commented on #24
@Phisherman Thank you.

[2016-02-06 14:39] alexbooker commented on #24
Sorry @IgnaceMaes :stuck_out_tongue:

[2016-02-06 15:18] Phisherman commented on #24
![concept1](https://cloud.githubusercontent.com/assets/2873986/12867413/2b12797a-cced-11e5-9fbf-87cb3dbc88df.png)
Just another idea. The differenct colors would be the b16 colors (isn't currently).

[2016-02-06 15:31] alexbooker commented on #24
@Phisherman Oh my god. It's so beautiful I almost swooned :heart_eyes:.

It reminds me much more of [Tetris](https://www.google.co.uk/search?q=tetris&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjk3vqyuePKAhWJwHIKHeYdCMkQ_AUIBygB&biw=1920&bih=895) than Minecraft but I don't think that's a problem.

The way you write makes it sound like you are still experimenting with designs. I really like what you have

[2016-02-06 15:48] alexbooker opened #26 "Improve readability of buildPath function"
[code]

**Problem:** It isn't really clear at a glance what the `true` or `false` arguments mean.

**Solution:**

1. Use an [enum](http://stackoverflow.com/questions/287903/enums-in-javascript)
2. Use named arguments
3. Create two discrete functions: `buildTemplatePath` and `buildSchemePath` that both call `buildPath`.

[2016-02-06 15:50] alexbooker opened #27 "Catch only specific error"
[Here](https://github.com/alexbooker/base16-builder/blob/99baac4529f3537f8cb041f3f6e08cda48ad3e17/lib/cli.js#L96) we use a blanket `catch` statement.

**Problem:** It swallows all errors

**Solution:** Catch only specific errors

[2016-02-06 16:16] aloisdg commented on #27
can we use multi catch or if statement with catch like in C#?

[2016-02-06 16:17] aloisdg commented on #26
I agree for all, but I prefer the last one, the 3.

[2016-02-06 16:20] aloisdg commented on #24
It is a feature !

It is more isometric than flat but it is good for me.

I dont really like the font too, but I am open about the subject.

[2016-02-06 16:25] alexbooker commented on #24
@aloisdg I like that it's isometric to be honest.

[2016-02-06 16:26] alexbooker commented on #27
@aloisdg I will probably use an `if` statement.

[2016-02-06 16:26] aloisdg commented on #24
@alexbooker I like it too. I just propose some alternatives.

[2016-02-06 16:26] alexbooker commented on #27
Removing `help wanted` for now as I am refactoring the code.

[2016-02-06 16:27] alexbooker commented on #26
@aloisdg Same. I may use 2.

Again, I am removing `help wanted` for now as I am refactoring the code.

[2016-02-06 16:37] Phisherman commented on #24
How about these?
![concept2](https://cloud.githubusercontent.com/assets/2873986/12867817/4ab873dc-ccf8-11e5-92f0-4edffedf666b.png)
![concept2b](https://cloud.githubusercontent.com/assets/2873986/12867818/4ac16a14-ccf8-11e5-92bb-d638ac146a74.png)

[2016-02-06 16:47] aloisdg commented on #24
Love the borderless one. Could you respect your grid and align everything? I dont know why but I think it would be better :3

[2016-02-06 17:04] Phisherman commented on #24
@aloisdg Like that?
![Uploading concept2a2.png…]()

[2016-02-06 17:18] aloisdg commented on #24
I prefer this one than the the other flat one.

[2016-02-06 17:21] Phisherman commented on #24
@alexbooker @aloisdg That's all from my side yet. If you have come to a decision I'll do the SVG. :)

[2016-02-06 17:54] aloisdg commented on #24
@Phisherman There is no hurry. The subject is not close. Thank you for alll you have done. Your renders are very good.

[2016-02-06 17:55] aloisdg opened #28 "Create a tool to reverse engine a template"

[2016-02-06 18:13] Mavamaarten commented on #24
@Phisherman I really dig the first one (the one with the isometric perspective). Amazing work!

[2016-02-06 18:40] Phisherman commented on #24
@Mavamaarten Thanks!

[2016-02-06 18:53] Phisherman commented on #24
@aloisdg If I would be honest, I don't like the logo. It doesn't really visualizes the function. It's too abstracted. I'll consider a new concept but I'll not able to spend time for it until next weekend.

[2016-02-06 18:57] aloisdg commented on #24
@Phisherman I like all of them. I would love to see your next idea. As I said, there is no hurry. At least, as far as I know. Take your time and build something awesome  :smile:

[2016-02-06 20:10] aloisdg commented on #16
What should we do with template's content containing erb comment like `zathura`?

[2016-02-06 20:13] alexbooker commented on #16
@aloisdg You can either:

- Use HTML comments (if Nunjucks support them)
- Remove them

I don't mind.

[2016-02-06 20:35] aloisdg commented on #16
I dont want to loose information. I mind remove them. We should care about contribution like this even if it come from another repo.

[2016-02-06 22:02] alexbooker opened #29 "Target earlier versions of Node"
**Problem:** At the moment, this module will only work on Node 5 due to the fact that it is transpiled using [this Node 5 preset](https://github.com/alexbooker/base16-builder/blob/master/package.json#L33).

**Solution:** Use [`babel-preset-es2015`](https://www.npmjs.com/package/babel-preset-es2015) instead.

[2016-02-07 01:41] alexbooker commented on #28
Would this belong in another repository?

[2016-02-07 01:54] alexbooker commented on #24
@Phisherman I am quite surprised to hear that you don't like the logo because we all _love_ 'em!

I think this image:

![](https://cloud.githubusercontent.com/assets/2873986/12867989/2c5ea6fa-ccfc-11e5-866b-5bb87ea6bb08.png)

... Works best as the logo because **1,** it will scale down nicer and **2,** uses fewer colours than the isometric one.

If you want to spend some more time working on a new

[2016-02-07 01:59] alexbooker commented on #19
Such a script has been written thanks to @aloisdg so I am going to close this issue now.

We can take any further discussion to #23.

[2016-02-07 01:59] #19 closed

[2016-02-07 02:25] alexbooker opened #30 "Document the template convention"
Templates need to adhere to a certain [convention](https://github.com/alexbooker/base16-builder/issues/19#issuecomment-180026062) before _base16-builder_ can detect them.

Whilst I believe that most contributors will be able to deduce this convention by looking at the [templates](https://github.com/alexbooker/base16-builder/tree/master/db/templates) directory, it would also be beneficial to formal

[2016-02-07 02:30] alexbooker opened #31 "Create a screencast showing how to use the tool"
I will produce a short screencast for my YouTube channel, [Code Cast](https://www.youtube.com/channel/UCcQsDUZiK1GWDcP7BpVO_kw)

[2016-02-07 02:32] alexbooker opened #32 "Possibly upload to AUR"
Some people would like to install this tool via [AUR](https://aur.archlinux.org/) instead of npm.

I'm not sure how viable this is because the tool has a dependency on [nodejs](https://www.archlinux.org/packages/community/i686/nodejs/).

[2016-02-07 02:32] alexbooker commented on #32
Might you want to help with this, @cruor99?

[2016-02-07 02:34] alexbooker opened #33 "Create a simple web page that lists available schemes"
Something like [this](http://chriskempson.github.io/base16/) but dynamically generated based on the [schemes](https://github.com/alexbooker/base16-builder/tree/master/db/schemes) directory.

Ideally this will be hosted on [GitHub pages](https://pages.github.com/) for easy integration and free hosting.

[2016-02-07 02:35] alexbooker commented on #31
Would love to get this done for 1.0.0-beta

[2016-02-07 06:57] aloisdg commented on #28
Yes I think. What do you think?

[2016-02-07 06:59] aloisdg commented on #31
Are you going to use a script? If so, I can translate it in French.

[2016-02-07 09:19] aloisdg opened #34 "Fix one failing test on master"
Hi !

I found a failed test in master:

[code]

The branch master must never fail a test.

[2016-02-07 09:21] aloisdg commented on #34
I let this issue open until a review.

[2016-02-07 10:25] aloisdg opened #36 "Is the path feature broken?"
# How the path feature works

Yes and it is a feature. The user must control waht he wants to do. He can choose.

## Why?

Lets look inside the function [`buildPath()`](https://github.com/alexbooker/base16-builder/blob/master/lib/cli.js#L33):

[code]

If the argument `file` is a path to a file, we use it. If the file is broken, it will be not our problem (at least for now. We should protect the us

[2016-02-07 20:07] aloisdg opened #37 "Should we use two separates flags to handle templates?"
## Presentation

To works, base16-builder need at least three arguments:
- a template
- a scheme
- a luminosity

We will not talk about luminosity here. Lets focus on template and scheme. Base16-builder ask them to provide a name or a path, so he can mix them and print a result on stdout. Since their logic are exactly equals, we are only going to talk about template. Sorry scheme, I wont miss you.

[2016-02-07 20:38] alexbooker commented on #37
Thanks a lot for taking the time to make these thoughtful points. I am torn.

Allow me to express my concern for overloading the `--template` flag:

Imagine that the user **thinks** she has a file local called `./custom-template` in her current directory (`./`) but actually does **not**.

She will run a command like this one:

[code]

But because there is no local file called `./custom-template` t

[2016-02-07 21:13] aloisdg commented on #37
This is a really weird and specific behavior. I am not sure if it really our responsability. We can make BB16 a bit verbose  (like `curl` or `wget`)  and print on stderr a quick message to inform that this is not a path and that BB16 is looking in his db. Since it print on stderr, it will not interfere with the result. Also, we can add a silent flag like `curl` with `-s,--silent` or `wget` with `-

[2016-02-07 21:16] alexbooker commented on #37
Yeah I was thinking we could do something like:

[code]

... But I think will make it hard to pipe `stdout`.

I am not decided either. I respect your opinion on this matter and am going to wait until tomorrow before making a  decision. I will also share this with @cruor99.

[2016-02-07 21:26] aloisdg commented on #37
Not if we print to stderr. By default, a pipe ignore stderr. You can try to `curl` this page (something like `curl "https://github.com/alexbooker/base16-builder/issues/37" > /tmp/issue37`. `/tmp/issue37` will contain only the page. Everything printed in the shell by `curl` will be absent.

[2016-02-07 21:36] alexbooker commented on #37
True.

[2016-02-08 18:44] Phisherman commented on #24
I just had some time and made the SVG of the logo.
[base16builder.min.zip](https://github.com/alexbooker/base16-builder/files/122033/base16builder.min.zip)

[2016-02-08 18:55] aloisdg commented on #37
Since we dont have a definitive choice yet. I will add another argument. I am not going to talk about about BB16. Well, not directly. I am going to talk about [seasonpaper](https://github.com/aloisdg/seasonpaper).

Seasonpaper is a small script I wrote to grab a link to from Reddit and set as wallpaper. In the [first version](https://github.com/aloisdg/seasonpaper/blob/5ef3a4bec69a23b4dd7a52661102

[2016-02-08 20:51] aloisdg commented on #30
I think we shouldn't cluttered "contributing.md" with this kind of information. It belongs in a ~~Museum~~ documentation (separate file, Wiki, [Read the Docs](https://readthedocs.org)). But I will comply and add everything in this single file. At least, for now. :wink:

related to:

run the project: #14
template spec: #19

[2016-02-08 21:22] alexbooker commented on #24
Thanks a lot, @Phisherman.

Am I correct in thinking this is the final version? You mentioned you might want to work on some new concepts this weekend.

[2016-02-08 21:33] #34 closed

[2016-02-08 21:33] Phisherman commented on #24
@alexbooker It's the final version of this logo. I'll reconsider the work on the logo this weekend. If I don't find any better ideas this will be the final version. :)

[2016-02-08 21:33] alexbooker commented on #31
@aloisdg Probably not. It will only be short.

[2016-02-08 21:34] alexbooker commented on #30
@aloisdg Thank you. Like I mentioned on Gitter, I will be open to an alternative location in the future.

[2016-02-08 21:39] aloisdg commented on #30
@alexbooker Yes. For now, it is good enough :smile:

[2016-02-08 22:00] alexbooker commented on #24
@Phisherman That is all I can ask for. Thanks!

[2016-02-08 22:06] aloisdg commented on #31
I can still make a french cover, but I will have to be good. :smile:

[2016-02-09 00:23] IgnaceMaes commented on #24
@Phisherman I really like your last design. It's simple yet it defines what the application does well.

[2016-02-09 08:13] aloisdg commented on #37
Another word, in `package.json`, the attribute `author` can be a string:

    "author": "aloisdg",

or an object:

    {
        "name": "Alois de Gouvello",
        "email": "aloisdg@gmail.com",
        "url": "https://github.com/aloisdg"
  }

Confusing? I dont think so. Amazing? Yes. It is easy.

[2016-02-09 09:07] aloisdg commented on #16
@alexbooker TIL nunjucks supports [comments](https://mozilla.github.io/nunjucks/templating.html#comments) !

[2016-02-09 13:37] aloisdg opened #40 "Who is the author in a scheme file?"
Hello,

In a scheme file we can find the name of an author. Who is he? He can be:

- The creator of the file.
- The creator of the scheme.

If I use the `solarized` theme, the author should be @altercation (scheme creator) or myself (file creator)?

To answer this, we could look at the use. Why should we add the author? What is the benefit of each one?

In another hand, could be use both?

For now

[2016-02-09 14:01] alexbooker commented on #37
I cannot guarantee that this is set is stone but as of ad16b90, the `--template` flag can be used for _either_ the template name or the template path. This behaviour is indicated by the [code](https://github.com/alexbooker/base16-builder/blob/ad16b90344e9d18918ae4cafba0b2aad91646772/lib/cli.js#L36).

I will close this issue for now but may revisit this before 1.0.0 if we encounter unforeseen UX is

[2016-02-09 14:01] #37 closed

[2016-02-09 14:01] #36 closed

[2016-02-09 14:03] alexbooker commented on #40
Agree.

Whoever ported the template (i.e. you) gets attribution via the commit log.

[2016-02-09 14:34] aloisdg commented on #40
Yes! Good point!

I will close this issue. If someone wants to add something, feel free to comment.

[2016-02-09 14:34] #40 closed

[2016-02-09 14:40] aloisdg commented on #37
Glad we found a path to follow. I hope we wont encounter unforeseen UX issues. Lets see :smile:

[2016-02-09 18:10] aloisdg commented on #33
You can check the template called _preview_.

[2016-02-09 19:09] alexbooker opened #41 "Improve error messages"

[2016-02-12 21:59] #29 closed

[2016-02-13 18:30] Phisherman commented on #24
Hey folks,

I'm sorry. I don't have any new concept for you to share. Just some other styling:

![image](https://cloud.githubusercontent.com/assets/2873986/13029283/28291232-d288-11e5-9136-6884caf91644.png)

[2016-02-13 18:43] alexbooker commented on #24
@Phisherman No worries. Like I said, I am _more_ than happy with the logo you came up with last week. Just yesterday I put it in [source control](https://github.com/alexbooker/base16-builder/tree/master/media), and just 10 minutes ago I added it to the [home page](https://github.com/alexbooker/base16-builder) :smile:

I like this concept as well, but prefer the existing one. If you want to make an

[2016-02-13 19:14] #22 closed

[2016-02-13 19:14] #16 closed

[2016-02-13 19:14] #24 closed

[2016-02-13 19:14] #32 closed

[2016-02-13 19:25] #41 closed

[2016-02-13 20:03] alexbooker commented on #26
This function doesn't even exist any more :stuck_out_tongue:

[2016-02-13 20:03] #26 closed

[2016-02-13 20:17] alexbooker opened #43 "Add tests to ensure that when an unexpected error is encountered, the correct error message is output"

[2016-02-13 20:19] #27 closed

[2016-02-13 22:26] alexbooker opened #44 "Make template and scheme names case-insensitive"

[2016-02-13 22:43] alexbooker opened #45 "Do not auto-escape output"
![](http://i.imgur.com/JkpWNhw.png)

All you need to do is tell Nunjucks to not escape values. We don't care about XSS here :smirk:

[2016-02-14 18:48] alexbooker opened #46 "Handle buildTheme exceptions"
`buildTheme` can throw an error if the nunjucks template is invalid. This needs to be handled and a friendly error message should be shown to the user.

[2016-02-15 09:08] aloisdg opened #47 "Adapt header comment in template"
Some templates start with a header comment like this one:

[code]

We have to convert it.

[2016-02-15 12:07] aloisdg opened #49 "Convert DuoTone Themes to Base16 Schemes"
Hello,

There are a lot of very nice theme for the Atom IDE. I would love to try them somewhere else. Can we think about a way to use them as scheme for base16-buider?

You can discover the concept [here](http://simurai.com/projects/2016/01/01/duotone-themes) (by @simurai).

[2016-02-15 12:29] aloisdg opened #50 "Split base16-builder cli from core"
Hello,

What would you think to split base16-builder in two projects. One for the core and one for the CLI. If someone, someday, want to create a GUI version or another tool. He could use the core part of base16-builer. In C#, i would ask for switching for one project to a group of projects (a PCL, a CLI, why not a wpf, etc).

Basically, can we add more [modularity](https://en.wikipedia.org/wiki/M

[2016-02-15 13:29] aloisdg opened #51 "Update the gif"
Hello,

The demonstration gif is outdated. It would be nice to make another one.
Also, I think the picture could be a bit smaller.

Cheers,

[2016-02-15 13:46] aloisdg opened #52 "Would it be a good idea to use an inline logo?"
Hello,

I think the logo take a lot of place.
What about an inline logo?

Something like this

    { # } BASE16-BUILDER

Where `{ # }` is the logo.

[2016-02-15 17:26] alexbooker commented on #47
@aloisdg I am not too fussed about this so long as the original template authors are still credited but :+1:.

[2016-02-15 17:27] alexbooker commented on #49
Definitely something to consider in the future :smile:

[2016-02-15 17:31] alexbooker commented on #50
`base16-builder` _already_ modular. It isn't documented, but it's possible to install `base16-builder` locally:

[code]

... And then reference `buildTheme`:

[code]

[2016-02-15 17:32] alexbooker commented on #51
I agree :+1:

I started to do this last week but got distracted... :relaxed:

[2016-02-15 17:32] alexbooker commented on #52
This crossed my mind as well. I'll look into it. Ty.

[2016-02-15 18:12] #51 closed

[2016-02-15 18:13] alexbooker commented on #51
Done!

[2016-02-15 19:23] aloisdg commented on #51
Nice !

[2016-02-15 19:33] aloisdg commented on #47
I will look to edit this later. It can create some bugs.

[2016-02-15 19:34] aloisdg commented on #50
Ok. I learnt something.

[2016-02-15 19:36] alexbooker commented on #47
@aloisdg Thanks.

[2016-02-15 20:59] aloisdg commented on #20
if you came here, you may want to see [bb16-schemer](https://github.com/aloisdg/bb16-schemer).

[2016-02-15 21:30] alexbooker opened #53 "Update help output to exclude i3wm"

[2016-02-16 01:48] simurai commented on #49
I think @atelierbram used base16-builder to generate these: http://atelierbram.github.io/syntax-highlighting/duotones/

[2016-02-16 07:32] aloisdg commented on #49
@simurai Thank you for the comment. @atelierbram made a great job. It will help a lot!

[2016-02-16 07:58] aloisdg commented on #49
@simurai Just diff a bit and found [this](https://github.com/atelierbram/syntax-highlighting/tree/master/duotones/schemes). PR is on the way!

[2016-02-16 10:43] atelierbram commented on #49
@aloisdg Thanks for the compliments, it's flattering; but a few cautionary words on the PR which I hope will be helpful. The proof will be in trying to make these into light background themes, which can be an interesting academic exercise, but until now I only have been bothered with the dark background templates. It could be a tricky project trying to reconcile the differences in philosophy betwe

[2016-02-16 20:21] Phisherman commented on #52
Here you go. [logoWithTextInline.zip](https://github.com/base16-builder/base16-builder/files/133222/logoWithTextInline.zip)

[2016-02-16 20:48] aloisdg commented on #52
@Phisherman Can you also add a png as image in your comment? It will be easiest for the discussion. Thank you.

[2016-02-16 20:48] Phisherman commented on #52
![logowithtextinline](https://cloud.githubusercontent.com/assets/2873986/13090600/00486fe4-d4f7-11e5-9bdb-fc814a3c6e77.png)

[2016-02-16 20:53] aloisdg commented on #52
@Phisherman If you adjust the logo to fit with the size of the title, is the logo not to small?

[2016-02-16 20:54] Phisherman commented on #52
Mhm. I can do this. I thought that this would be more appreciated.

[2016-02-16 20:56] aloisdg commented on #52
@Phisherman  I completely agree to use one you posted. I ask for another export by curiosity. I let @alexbooker have the last word :smile:

[2016-02-16 20:58] Phisherman commented on #52
Haha, ok! Here is the old one with changed text orientation. If you like that I'll send you the rest.

![logowithtextinline](https://cloud.githubusercontent.com/assets/2873986/13090836/571425c4-d4f8-11e5-9393-268c5d8e3ebc.png)

[2016-02-16 21:05] aloisdg commented on #52
@Phisherman My bad, I wasn't clear. I thought about adjusting the size vertically. The logo would have the same height than the current text. By the way, you got there another nice idea :)

[2016-02-16 21:08] Phisherman commented on #52
@aloisdg
Like that?

![logowithtextinline](https://cloud.githubusercontent.com/assets/2873986/13091099/cdb94438-d4f9-11e5-9a30-9b11e75aba2c.png)

[2016-02-16 21:12] aloisdg commented on #52
@Phisherman Yes thats my idea. At the end you were right. The first one is my favorite. Thank you for your dedication!

[2016-02-16 21:15] Phisherman commented on #52
@aloisdg OK.

[2016-02-16 22:38] alexbooker commented on #52
Closed in 375d29a8df87ac3414695b2430090564f7cc7973.

Thank you, both.

@Phisherman, could you please send a pull request adding those files to the `media` directory? If you don't want to, I'll do it tomorrow. Thanks.

[2016-02-16 22:38] #52 closed

[2016-02-17 22:50] #53 closed

[2016-02-17 23:05] alexbooker commented on #50
Closed by 5aa25ae3a5c573cce1943caa1da6f18a42ce01c6. It's not ideal to reference a ticket as documentation but it's good enough for now.

[2016-02-17 23:05] #50 closed

[2016-02-18 12:36] aloisdg opened #54 "Make "-h" the default output"
Hello,

When we run `base16-builder` without any arguments a "fatal" error is thrown:

    fatal: You did not supply valid arguments. Run \'base16-builder -h\' for guidance.

I think it would be better to make the "-h" a default and to print it when no argument is given. It is the choice made by "git" or "npm" for example.

Cheers,

[2016-02-18 12:47] aloisdg opened #55 "Add support for VSCode"
Hello,

Visual Studio Code support Textmate theme but it could be better with some adjustment.
I am looking for a better support. VSCode is shiped with an implementation of Solarized. It could be nice to use it as a bridge for the port.

Cheers,

[2016-02-18 13:02] alexbooker commented on #54
Sounds good.

[2016-02-18 13:03] alexbooker commented on #55
:+1:

[2016-02-18 13:05] aloisdg commented on #54
Yes but if you want to do it, you can change it. :)

[2016-02-18 13:05] aloisdg commented on #55
@alexbooker I finished it and I am testing it right now ;)

[2016-02-18 13:06] alexbooker commented on #54
@aloisdg It'll take two seconds.

[2016-02-18 13:20] aloisdg commented on #54
Ok do it I finish my template :)

[2016-02-19 10:32] #54 closed

[2016-02-19 13:16] aloisdg opened #57 "Do we have a specific code guidelines to follow?"
Hello,

Everything is in the title.
We have a .eslintrc but it is a bit light.

Thank you

[2016-02-19 13:33] alexbooker commented on #57
I think what we have is fine for now.

[2016-02-19 13:35] aloisdg commented on #57
It could be nice to add one to the contributing.md. It is not mandatory. So we can just close this and follow our own path.

[2016-02-19 13:43] alexbooker commented on #57
@aloisdg I think this module is - and always will be - too simple to warrant a strict code style. It just introduces the barrier to entry, in my opinion.

[2016-02-19 13:46] aloisdg commented on #57
@alexbooker good point. Lets close this for now.

[2016-02-19 13:46] #57 closed

[2016-02-23 00:31] atelierbram commented on #49
@alexbooker @aloisdg :+1:  Love the new CLI; having played with it I have to say I am impressed by it's versatility and flexibility.

An update on my efforts of converting DuoTone Themes in light and dark variations. Bad news: wasn't really doable IMO with 16 color-variables (without it being a tangled mess), so no PR here. Good news: it still can be done with more color variables _and_ generated

[2016-02-24 08:37] aloisdg commented on #49
Thank you for your answer and the demo!

You Prism demo is, at least for me, completely usable. Great works you made their. If you can go further, I would love to see this :)

Just to be sure, you are not using the same color (or same colors with different shades) in both dark and light mode, aren't you?

[2016-02-24 09:03] alexbooker commented on #49
@atelierbram Yes, thank you! I, too, would be very interested in seeing this. Good work so far :smile: :ok_hand:

[2016-02-24 09:04] alexbooker commented on #33
I'm adding this to the `1.0.0-beta` milestone because I think it is essential to give the user a way to explore schemes.

[2016-02-24 09:24] aloisdg commented on #33
@alexbooker I agree. :+1:

[2016-02-24 09:29] alexbooker commented on #33
@aloisdg Someone, @cruor99, had the :bulb: idea to make a seperate repository: `base16-builder-gui` - I think that would be _really_ cool. Ideally, it'll use [Electron](http://electron.atom.io/).

I think what I'm going to do for `1.0.0-beta` is distribute an auto-generated `index.html` file with a table of colour palettes. I wanted to do it in the terminal but it isn't really possible as far as I

[2016-02-24 09:55] aloisdg commented on #33
@alexbooker A GUI would a really nice tool to have. I would love to merge it with a theme editor/generator. But, I think we should move this to a new issue and we should focus on the cli tool. A GUI is an external tool who can be made by someone else or ourself later.

[2016-02-24 11:07] alexbooker commented on #33
@aloisdg My thoughts exactly.

[2016-02-24 11:35] atelierbram commented on #49
@aloisdg I guess I am, that is to say; the colors for the light mode map to different colorvalues but from the same `scheme/colorscheme.yml` file with 32 colorvalues declared (_maybe could be 24, but this gives a bit more flexibility_). But I hope hitting the "show colornames" button on [the demo](http://atelierbram.github.io/duotones-prism/demo/desert/dark/) and switching between dark - and light

[2016-02-24 12:37] aloisdg commented on #49
@atelierbram

I don't think I have problem with the idea of splitting schemes by brightness. We can apply the same model used for template. We would have `db/schemes/{name}/{brightness}.yml`. Most of the old schemes would be equals in both dark and light version (lot of duplicate here but it is the current choice made for template). What do you think of this alternative?

[2016-02-24 13:17] atelierbram commented on #49
Will give it a day to wrap my mind around this idea. Right now, I think this will overcomplicate the base16 concept, and take away some clarity for Duotones, for it means two YML scheme files: `db/schemes/{name}/dark.yml` and `db/schemes/{name}/light.yml`, no? Somehow this doesn't sit quiet right with me yet ... what does @alexbooker think?

[2016-02-24 13:33] aloisdg commented on #49
@atelierbram

You are right, It may not fit very well. Also It could be a full other project as you said before. (I like the name Base2 or BaseDuo ;).

[2016-02-24 20:43] alexbooker commented on #49
@atelierbram, I value simplicity _a lot_. You are spot on when you say this _"will overcomplicate the base16 concept, and take away some clarity for Duotones"_.

This is a tricky one :confounded:

All I can really say at this point is that I want to help you leverage the "core" as best I can. Maybe you can use the [JavaScript API](https://github.com/base16-builder/base16-builder/issues/50) to buil

[2016-02-26 15:30] atelierbram commented on #49
Thanks for the feedback, and yes, like with many things, the more you think about it, the more it seems obvious.

@aloisdg Your comment on naming was actually quite helpful in finding the right direction for picking something. So I settled on **Base2Tone**, which is less memorable then "Duotones", but the plural "s" to differentiate from "DuoTone Themes" was always more than a bit lame. And with "

[2016-02-26 16:24] aloisdg commented on #49
@atelierbram

Glad to be helpful for the name!

I think we can close this issue for now. What do you think @alexbooker?

[2016-02-27 02:26] alexbooker commented on #49
@atelierbram I appreciate it a lot. I'm sure both myself and @aloisdg will be glad to help with any code relating to this project. Don't hesitate to get in touch, OK :smile:?

@aloisdg I don't think there's any harm in keeping it open for a while, do you?

[2016-02-27 05:21] aloisdg commented on #49
@alexbooker of course we can. :smile:

[2016-02-27 20:16] alexbooker commented on #45
Uh oh. It looks like the only way to do this is to edit the templates from

[code]
to

[code]

([source](http://stackoverflow.com/questions/29866034/stop-nunjucks-from-escaping-html))

@aloisdg, do you think it'd be possible to write a small script to do this conversion automatically?

[2016-02-27 20:17] alexbooker commented on #45
Hold the phone. [I just found this](https://mozilla.github.io/nunjucks/api.html#opts-autoescape).

[2016-02-27 20:29] #45 closed

[2016-02-27 20:29] alexbooker commented on #45
Alright, think I fixed it in d910c19960b139567c969508ac907301529a8a77

[2016-02-27 20:53] #44 closed

[2016-02-27 20:57] #46 closed

[2016-02-27 22:48] alexbooker commented on #33
Done :smile:

Update Base16 Builder:

     npm install -g base16-builder

And then run

    base16-builder preview

To preview schemes.

At the moment the UI isn't so nice. @Evinon had a pretty neat concept for a new UI:

![@](http://abload.de/img/desktophd2x6ys95.png)

[2016-02-27 23:04] alexbooker commented on #33
Todo:

- Rename command to `ls-schemes`
- Write a console message saying "Check your browser"
- Document the feature

[2016-02-27 23:05] alexbooker commented on #33
Also todo:

- Add `ls-templates` command that writes to the console

[2016-02-28 07:28] aloisdg commented on #33
Shouldn't be possible to open the browser directly?

[2016-02-28 07:31] aloisdg commented on #45
Perfect! :)

[2016-02-28 07:36] aloisdg commented on #33
Their is a duplicate of the color "09" in the html file.

I like @evinon's concept. Also, a display of the code (like highlight.js) would be a nice add.

[2016-02-28 10:26] aloisdg opened #59 "Add Wox template"
Hello,

Wox is an effective launcher for Windows. You can learn more about the project on its [repository](https://github.com/Wox-launcher/Wox).

Right now, I have the support for the dark and the light template (here with the solarized scheme):

![dark](https://cloud.githubusercontent.com/assets/3449303/13378673/a9b3778c-de33-11e5-8cae-9e6cefbd1772.PNG)

![light](https://cloud.githubusercontent.c

[2016-02-28 10:32] alexbooker commented on #59
Sounds awesome.

If we can make this happen, it'll make this tool *much* more compelling for Windows users.

[2016-02-28 10:33] alexbooker commented on #33
Can you elaborate? My intention was for the page to open in the default browser.

Agree :+1:

[2016-02-28 10:41] aloisdg commented on #59
@alexbooker

Thank you. I added the light theme too :) (Lumosh powa \o/)

[2016-02-28 10:42] alexbooker opened #60 "Add Toothpaste Syntax"
https://github.com/imcatnoone/toothpaste

[2016-02-28 10:44] aloisdg opened #61 "Add support for Alfred"
Hello,

Alfred is an effective launcher for Mac. You can learn more about the project on its [website](https://www.alfredapp.com/).

Inspiration can be taken from my wox template see #59 or from a solarized implementation ([1](http://www.alfredforum.com/topic/455-solarized-dark/) [2](https://github.com/imkmf/alfred-solarized) [3](https://github.com/timbuchwaldt/alfred-solarized) [4](http://www.cha

[2016-02-28 10:48] aloisdg commented on #60
:+1:

[2016-02-28 10:49] aloisdg commented on #33
Yes and it is great!

[2016-02-28 10:51] #30 closed

[2016-02-28 11:00] alexbooker commented on #33
@aloisdg I think something is getting lost in translation.

You said:

I don't understand what you mean. Could you please explain in more detail so I can understand?

[2016-02-28 11:10] aloisdg commented on #33
Me neither. What you did works for me. The page open in my browser.

[2016-02-28 12:13] aloisdg commented on #59
More pics

Paraiso:

![paraiso](https://cloud.githubusercontent.com/assets/3449303/13379086/c56910d6-de42-11e5-9676-c2d7fa2625c4.PNG)

Flat:

![flat](https://cloud.githubusercontent.com/assets/3449303/13379088/ca8145de-de42-11e5-99b1-19060eedfc11.PNG)

[2016-02-28 12:16] aloisdg commented on #59
I need schemer to run them all! ;)

[2016-02-28 15:08] aloisdg opened #63 "Should we improve the label system?"
Hello,

Today, @alexbooker adds more labels to the project. I think we can try to enhance the label system.
I read about [gitlabel](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63#.rq2rkybda) last week. Gitlabel is made by @himynameisdave and is hosted [here](https://github.com/himynameisdave/git-labelmaker).

What do you think of this system?

[2016-02-28 18:39] aloisdg commented on #47
I will use nunjucks [comments](https://mozilla.github.io/nunjucks/templating.html#comments).

[2016-02-28 19:21] aloisdg commented on #47
As always:

    #!/bin/bash

    for item in templates/*/*.nunjucks
    do
        filename=$(basename "$item")
        extension="${filename##*.}"
        filename="${filename%.*}"

        content=$(cat "$item" | sed -r 's/<%/{#/g' | sed -r 's/%>/#}/g')
        echo "${content}" > "${item}.neo"
        echo "${item}.neo"
    done

    for item in templates/*/*.neo
    do
        mv "${item}" "${

[2016-02-29 20:58] alexbooker commented on #63
To be honest, labels are just noise right now. I'm going to remove them all except `help wanted`.

[2016-02-29 20:58] #63 closed

[2016-02-29 21:00] alexbooker commented on #63
Ah. That is so much better. Thanks for reminding me.

[2016-03-01 15:20] aloisdg commented on #63
So lets give a shot to gitlabel?

[2016-03-01 15:28] #55 closed

[2016-03-01 19:34] alexbooker commented on #63
@aloisdg I don't feel the need for labels at this time. If issues ever become hard to manage, I will revisit this.

[2016-03-01 20:35] aloisdg commented on #63
I love labels. I use them in almost all personnal projects. We cannot create group without them.

[2016-03-01 21:20] alexbooker opened #67 "Error when building smartftp template"
[code]

When building the `smartftp` template, I get an error. The template is clearly malformed. @aloisdg, might you know what the problem here is?

[2016-03-01 21:24] alexbooker commented on #63
@aloisdg I am more than happy to consider gitlabel later down the line. At the moment I feel like too many labels is a  novelty.

You'll notice that I did keep the **help wanted** and **future?** labels.

[2016-03-01 21:47] himynameisdave commented on #63
Yeah @aloisdg, organization is just a silly novelty. Why would you ever want a [sane system for organizing your projects](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63) when **help wanted** and **future?** perfectly describe the status, type and priority of every issue in this project?

[2016-03-02 03:34] aloisdg commented on #63
Even the old github system is fine for me.

[2016-03-02 03:41] aloisdg commented on #67
I just looked. I didnt see any problem with smartftp's templates.

[2016-03-02 09:46] alexbooker commented on #67
@aloisdg I haven't had time to look into it properly. I just know that when I run the above command, I get an error :confused:

Let me know what you find. If it's not a problem with the template, it could be a problem with my code. Thank you :smile:!!

[2016-03-02 21:07] #33 closed

[2016-03-02 21:43] alexbooker commented on #67
I know that if you remove expresions like this one:

[code]

... The template doesn't cause an error.

I'm not sure why expressions like that one are causing Nunjucks to chuck a wobbly because it's valid JavaScript:

[code]

[2016-03-03 08:27] atelierbram opened #68 "Slug variable support"
Is there, or will there be support for the "slug" variable, like in the original Base16-Builder?
(_In which the `{{ slug }}` transforms the name of the color-scheme to lowercase, and allows this to be used like that in templates like, for example, had been done in the template for CodeMirror._)

Have searched the tests and issues, but can't seem to find documentation on any clear reference to this

[2016-03-04 14:26] aloisdg commented on #67
If the bug come from nunjucks, we should open an issue in their repository.

While there isn't a fix from them or us, we should move smartftp in a separate 'fix-smartftp' branch.

[2016-03-04 22:57] alexbooker commented on #68
I must confess I wasn't aware of this `slug` variable until now so no, there isn't **currently** support for it. I think it's something we should support, though. What do you think, @aloisdg?

I can see that the [codemirror template](https://github.com/base16-builder/base16-builder/blob/master/db/templates/codemirror/dark.nunjucks) references the `slug` variable. That is a [logic error](https://en

[2016-03-04 23:01] alexbooker commented on #67
If I'm honest, I doubt it's a problem with Nunjucks.

I agree but it'll probably be quicker to just fix the bug. I won't have time to do either until tomorrow.

[2016-03-04 23:03] alexbooker opened #69 "Codemirror template is broken"
**Problem:** In #68 @atelierbram  pointed out that we're missing a `slug` variable.  The [codemirror](https://github.com/base16-builder/base16-builder/blob/master/db/templates/codemirror/dark.nunjucks) template references this non-existent `slug` variable causing a [logic error](https://en.wikipedia.org/wiki/Logic_error).

**Solution:** Closing #68 _should_ also close this issue.

[2016-03-05 03:33] aloisdg commented on #68
I talked about slug when I converted all templates. Vim use it too. Since you didn't comment about it, I assumed it was supported.

[2016-03-05 03:34] aloisdg commented on #68
I think we should support it :)

[2016-03-05 12:47] alexbooker commented on #68
@aloisdg I believe you. There was a lot of information to follow and I'm not surprised I missed something.

Anyone want to take a stab at this? I'll be more than happy to offer my time and guidance.

[2016-03-05 20:44] alexbooker opened #70 "Add support for Lightline"
Would be handy to have a template for [Lightline](https://github.com/itchyny/lightline.vim).

[2016-03-05 20:44] alexbooker opened #71 "Add support for Lightline"
Would be handy to have a template for [Lightline](https://github.com/itchyny/lightline.vim).

[2016-03-06 17:31] #68 closed

[2016-03-06 17:31] alexbooker commented on #68
Should be fixed now. Please confirm.

[2016-03-06 17:31] #71 closed

[2016-03-06 17:32] #69 closed

[2016-03-06 17:55] alexbooker commented on #67
So, I did some experimentation and it turns out you Nunjucks **won't** evaluate arbitary expressions like `base["05"]["hex"].match(/.{2}/g)...`. It'll only evaluate simple expressions like `1 + 1`.

Aside from basic expressions, Nunjucks will only interpret pre-defined [filters](https://mozilla.github.io/nunjucks/templating.html#builtin-filters). For example, you cannot write `{{ "HI".toLowerCase

[2016-03-06 19:24] alexbooker commented on #67
I just tried and Swig doesn't support this.

[2016-03-07 04:19] aloisdg commented on #67
If we use ejs, we are almost compatible with the old project. This is nice. We have to move from ruby to js, but for most templates we just have to remove the `@` before base.

[2016-03-07 20:43] alexbooker commented on #67
@aloisdg Would you be willing to write a small script to do that if I change the core?

[2016-03-08 02:56] aloisdg commented on #67
@alexbooker Sure, but I dont now when. I still dont have my computer and I am still traveling.

[2016-03-08 02:56] aloisdg commented on #67
@alexbooker Sure, but I dont now when. I still dont have my computer and I am still traveling.

[2016-03-08 17:26] alexbooker commented on #67
@aloisdg :smile: :+1:

[2016-03-13 16:09] alexbooker opened #72 "Migrate from Nunjucks to EJS"
We need to evaluate arbitrary JavaScript expressions in templates to close issues like #67.

When I wrote base16-builder, I assumed it was possible to write arbitrary JavaScript inside a Nunjucks template. **It ain't.**

We need to migrate from Nunjucks to [EJS](http://www.embeddedjs.com/)

[2016-03-13 18:32] #72 closed

[2016-03-13 19:01] #67 closed

[2016-03-13 19:01] alexbooker commented on #67
This is fixed now.

[2016-03-15 00:58] alexbooker commented on #47
I just added the Vim template and included the header.

What do you want to do about existing templates _without_ headers?

[2016-03-15 01:03] alexbooker opened #73 "Add support for 256 templates"
We are yet to port *any* of the 256 bit templates.

Consideration needs to be given to:

- how 256 bit templates will be named
- what command-line flag to use

[2016-03-15 01:07] alexbooker opened #74 "Interactive command-line arguments"
Let's add interactive command-line arguments via [Inquirer.js](https://github.com/SBoudrias/Inquirer.js/)!

[2016-03-15 01:09] alexbooker opened #75 "Add update notifier"
https://github.com/yeoman/update-notifier

[2016-03-15 01:26] #75 closed

[2016-03-15 04:40] alexbooker opened #76 "Rename slug to scheme-slug or something more descriptive like that"

[2016-03-15 09:44] aloisdg commented on #47
We can ignore them. It is not mandatory.  It coulde be cool to add some credits but I am not sure it worth the trouble. We can let add as  new open issue with a priority: lesser.

[2016-03-15 11:52] aloisdg commented on #76
It is an ["official" name](https://en.m.wikipedia.org/wiki/Semantic_URL#Slug).

I would love if we can remove it and have all name usable directly as slug.

[2016-03-15 16:51] alexbooker commented on #76
What do you mean?

[2016-03-15 16:58] alexbooker commented on #47
@aloisdg Is it too much trouble? It would be great if you could do this <3.

[2016-03-16 02:30] aloisdg commented on #47
I am still computer less until 25st march. :cry:

[2016-03-16 02:34] aloisdg commented on #76
Slug is an human compliant name. I would love if all our names were directly human compliant.

[2016-03-16 03:23] alexbooker commented on #47
@aloisdg Aw.

[2016-03-20 14:17] paranoida opened #77 "Update npm package"
Hey,

Could you also push latest version to npm? Current version there is `0.0.18` (`0.0.20` on github).

Cheers,
Rafal

[2016-03-20 15:18] alexbooker commented on #77
Hi @paranoida,

I just published the latest version. Thanks :smile:.

[2016-03-20 15:18] #77 closed

[2016-03-20 15:19] alexbooker commented on #77
I just noticed the module isn't working due to a missing dependency. Hold on one second.

[2016-03-20 15:23] alexbooker commented on #77
Fixed.

[2016-03-20 21:02] paranoida commented on #77
Works like a charm.

Thanks

[2016-03-21 20:34] alexbooker opened #78 "Update notifier doesn't work"

[2016-03-21 20:34] alexbooker opened #79 "There's weird markdown in the --help output"
![](http://i.imgur.com/iRcvLE0.png)

[2016-03-22 01:06] alexbooker opened #80 "Rename "key" to "prop" where appropiate"

[2016-03-22 03:43] aloisdg commented on #80
Can you add more information about this one?

[2016-03-22 13:41] #80 closed

[2016-03-22 13:43] alexbooker commented on #80
See 6ecd412

[2016-03-22 14:29] alexbooker opened #81 "Improve how brightness is handled"
The [`i3status`](https://github.com/base16-builder/base16-builder/tree/954fe2580a04f2bcde155a193a99451f8baea213/db/templates/i3status) template is neither _"dark"_ nor _"light"_ so we created identical templates called [`dark.ejs`](https://github.com/base16-builder/base16-builder/blob/954fe2580a04f2bcde155a193a99451f8baea213/db/templates/i3status/dark.ejs) and [`light.ejs`](https://github.com/base

[2016-03-22 15:50] aloisdg commented on #80
Ok. It makes sense!  It is better like this!

[2016-03-23 13:44] aleprovencio opened #82 "Add support for tmux, dunst and pentadactyl"
Sorry about this long and selfish request :)

[2016-03-23 16:10] alexbooker commented on #82
There's no need to be sorry -- template requests are very welcome :smile:!

Could you please close this issue and create 3 separate issues for each template? I'll add the **help wanted** label to each of them. Having separate issues will make the issues easier to digest and will streamline communication.

I'll be straight-up with you. Because I have no need for these templates myself it's unlikely

[2016-03-23 17:22] aleprovencio commented on #82
Sure, thank you!

[2016-03-23 17:22] aleprovencio opened #83 "Add support for tmux"

[2016-03-23 17:23] aleprovencio opened #84 "Add dunst template"

[2016-03-23 17:23] aleprovencio opened #85 "Add support for pentadactyl"

[2016-03-23 17:23] #82 closed

[2016-03-23 18:41] alexbooker commented on #63
Now a few template requests are popping up I have added a **template request** label.

[2016-03-23 19:11] alexbooker commented on #82
Nice one :smile:

Do you have any interest in contributing any of these templates? I'll be happy to answer any questions you might have.

[2016-03-24 01:06] alexbooker commented on #78
Actually, yes it does.

[2016-03-24 01:06] #78 closed

[2016-03-24 01:09] alexbooker commented on #79
Fixed in 1487d183daef6ead50a2c9bae59751abdd2d0c6d.

Because `package.json` didn't have a `description` field `meow` was pulling the readme's header.

[2016-03-24 01:09] #79 closed

[2016-03-24 01:12] alexbooker commented on #74
cc @aleprovencio @aloisdg @cruor99 @atelierbram @phisherman

Please can you share your opinions? Thank you :smile:

[2016-03-24 01:52] Phisherman commented on #74
I really like this idea!

If you would show options the question would be: How would you display the big amount of options?

Otherwise, if you only prompt to type in the scheme, template etc. and the user misspelled it you could provide a suggestion like "You wrote 'monokei'. Did you mean 'monokai'?"

[2016-03-24 08:30] atelierbram commented on #74
Me also liking this idea :balloon:

Next best thing IMO is trying to make it as _logical_ as possible and, dear I say, with not _too many_ questions or options; best to keep it as small as possible.

What I think would also be great for template and/or theme builders if there would be a bash file included in that dist/output directory with the specific commands in a bash-file (like  `io.sh`, which

[2016-03-24 19:56] alexbooker commented on #73
@aloisdg, can you please explain to me the difference between _normal_ and _256_ templates?

~~What do you think about removing _256_ templates from the db?~~

~~In the case of templates like _mutt_ where there is **only** a _256_ template, we can turn it into a  _normal_ template so `mutt/dark-256.ejs` and `mutt/light-256.ejs` become  `mutt/dark.ejs`  and `mutt/light.ejs` respectively.~~

**Updat

[2016-03-24 20:18] #76 closed

[2016-03-25 13:35] aloisdg commented on #74
If we use this when base16-builder is ran without arguments, you have my full support. With arguments, we kept the classical behavior. Scripting is love, scripting is life.

[2016-03-25 17:33] alexbooker commented on #74
Thank you very much for your input, everyone  -- I really appreciate it :bow:

I'll add this feature soon :smile:

[2016-03-26 18:58] aleprovencio commented on #74
I like your idea @alexbooker, it sounds something like what `oh-my-zsh`, `bash-it`, etc do. It will definitely increase the user base.

[2016-03-26 19:15] aleprovencio commented on #82
@alexbooker, I do have experience in other programming tools but I have to say that although there might have no need of javascript for template development, my knowledge on it is low, and even worse when talking about colors...maybe that's why I ended up using your awesome tool :D
I'm usually very busy also, but I cannot say I'm not interested in learning this color magic you use. Maybe you can s

[2016-03-27 03:46] aloisdg commented on #82
Since the wox template, I think about a tutorial "how to create a new template". I am far from good with this, but it is better than nothing. Also, we could enhance the tutorial later.

[2016-03-27 10:13] alexbooker commented on #82
@aleprovencio You should give it a shot :+1: I think you'll be surprised at how intuitive it is.

Maybe start with the simplest template, which is _probably_ Dunst.

@aloisdg That would be awesome :smile:

[2016-03-29 01:52] aleprovencio opened #86 "fix zathura dark template"
I think `inputbar-fg` should be set to `base05` instead of `base02`, and I also miss `index-active-bg` which is probably `base0D`. I can make a PR if you want.

[2016-03-29 01:54] alexbooker commented on #86
@aleprovencio I do not use _zathura_. Would you mind sending a pull request for this?

[2016-03-29 02:40] aleprovencio commented on #86
https://github.com/base16-builder/base16-builder/pull/87 created

[2016-03-29 02:46] alexbooker commented on #86
Closed by #87

[2016-03-29 02:46] #86 closed

[2016-03-29 03:18] M1Sports20 commented on #83
I can create a tmux template similar to what is below.  I would want to double check and make sure its actually done correctly.

However, I currently have it inherit the shells resources.  While double checking everything is actually properly using the right colors I can make the project output hex color values that don't use shell defined variables.  Do you think that is better?

[code]

[2016-03-29 04:45] alexbooker commented on #83
As I understand it, *tmux* gets its colors from the terminal window **by default**.
I think the *tmux* template should use [scheme colors](https://github.com/base16-builder/base16-builder/tree/master/db/schemes) **not** colors from the terminal window.
If a user wants to use colors from their terminal window they shouldn't use a *tmux* template.

What do you think?

[2016-03-29 04:47] alexbooker commented on #83
I appreciate you looking into this -- thanks.

[2016-03-29 04:49] M1Sports20 commented on #83
True, that is what I meant with the above comment.  With the old project I just modified tmux to use terminal colors which were set by if I remember right the "shell" template.  We can use scheme colors I don't really care.

I don't mind looking into it.

[2016-03-29 04:51] alexbooker commented on #83
@M1Sports20 Hm. It could be set by the shell theme actually.

[2016-03-29 04:52] alexbooker commented on #83
@M1Sports20 I think we should use scheme colours :+1:. Thanks.

[2016-03-29 10:31] alexbooker commented on #73
There are **6** 256-bit templates:

- xresources
- connectbot
- console2
- iterm2
- mintty
- mutt

All of these templates have 16-bit templates except for _mutt_.

[2016-03-29 10:34] alexbooker commented on #73
What do you think we should do, @aloisdg?

[2016-03-29 10:42] aleprovencio commented on #82
Please tell me if I should put this question anywhere else, I need to understand some things first before working on these themes:

* For now based on `gooey dark` scheme I have generated themes only for `rxvt-unicode` and `i3` and `zathura`, but let's only talk about the first. As I run my `vim` instances under `urxvtc` It seems that the colors on it are fine using the default colorscheme. I've t

[2016-03-29 11:20] alexbooker commented on #82
I'm not intimate with the details, but if you enable 256 colors in Vim, your Vim theme can look like this:

![](https://camo.githubusercontent.com/21256df57a7feaa78b9f8e1ea8b42b45fc2ab40b/68747470733a2f2f7261772e6769746875622e636f6d2f63687269736b656d70736f6e2f6261736531362d76696d2f6d61737465722f776974682d626173653136636f6c6f7273706163652d3235362d776974686f75742d6261736531362d7368656c6c2e706e67)

[

[2016-03-29 19:15] aleprovencio commented on #82
This is some clarifying material, thanks @alexbooker!
From your explanation it seems I don't really need `base16-shell` since I opted to use `rxvt-unicode` colors and my `vim` colors are not messed up like the one on the picture even using `t_Co=256`. However this way I am not able to use the `vim` template generated theme because it seems to depend on `base16-shell`, so I don't know how different

[2016-03-30 02:33] alexbooker commented on #82
@aleprovencio A _Vim_ theme is **not** dependent on a _shell_ theme. Why do you think it is?

[2016-03-30 12:50] aleprovencio commented on #82
You are right, it is not. I said that because I loaded the generated colorscheme and it raised some errors, than I quickly glanced the source and saw references to base16-shell so that's where the confusion started. I'm creating an issue about the problem, and posting an Pull Request for your review.

However I still think the default colorscheme along with the `rxvt-unicode` theme under the hood

[2016-03-30 13:12] aleprovencio opened #90 "vim template errors"
Upon loading the colorscheme it throws an error about missing arguments related to the Mail highlighting functions.

[2016-03-30 13:32] aleprovencio commented on #90
Here https://github.com/base16-builder/base16-builder/pull/91

[2016-03-30 17:14] alexbooker commented on #82
I see :confused:

That is definitely something worth exploring.

[2016-03-30 17:23] alexbooker commented on #90
Closed by #91

[2016-03-30 17:23] #90 closed

[2016-03-31 10:25] aleprovencio opened #92 "gimp color palette problem"
I can't load the generated `gimp palette` profile on `Gimp`.  Shouldn't it be supposed to be on the RGB format, like the exported palette file from the palette dialog?

[2016-03-31 10:48] aleprovencio commented on #82
@alexbooker is there a methodology for choosing colors when building a new template (like based on another template) or it's just a matter of what looks better?

[2016-03-31 16:44] alexbooker commented on #82
I think it's a matter of what looks best but if I'm honest, I've never built a template...

@aloisdg has and might be able to provide some more insight.

[2016-03-31 16:51] alexbooker commented on #92
I have no ideas as I didn't write the original Gimp template. If you have the time (and motivation), I would really appreciate it if you investigated this further. If not, no worries -- I'll look into this when I can. If you have any questions, please do not hesitate to ask :smile:. Thanks!

[2016-03-31 18:38] aleprovencio commented on #82
@alexbooker you might have never built a template but I'm very satisfied using the killer combination of `gooey` scheme from `base16` along with `arc dark GTK` which you showed off on r/unixporn once. You got that combination from the "what looks best" approach?

[2016-03-31 18:40] aleprovencio commented on #92
Alright :+1:

[2016-03-31 19:38] alexbooker commented on #82
@aleprovencio Oh, yes. Absolutely.

[2016-04-01 07:27] aloisdg commented on #92
@aleprovencio is it possible than gimp broke the compatibility with the template like the mono project? Glad you found this issue :+1:

[2016-04-18 06:51] CrashyBang commented on #33
Hey Guys,

So I was thinking what if `ls schemes` was to compile all the schemes for Codemirror and then load up a index in the browser with 2 Codemirror editors side by side one light one dark (maybe a snippet selector so you can try a bit of ruby, python, js, etc...) and a scheme picker so you can demo them all there and then and chose one for your editor.

I would be happy to attempt implementi

[2016-04-18 11:51] aloisdg commented on #33
@CrashyBang Good idea!

[2016-04-18 13:12] alexbooker commented on #33
Hey @CrashyBang :smile:

That sounds awesome. I really like the idea of using CodeMirror. I would love it if you worked on this and will be happy to help where I can.

I would reccomend working iteratively. For example, I think an attainable goal is to make the editor read-only with some pre-defined Ruby code or something. We can add multiple languages etc. in the future.

[2016-04-18 21:03] CrashyBang commented on #33
Hey @alexbooker,

That's a really good idea, I will get on to that this week, I am have a few questions about conventions / structure but from what I have seen the code base looks rock solid so I should have no trouble :)

[2016-04-19 08:09] alexbooker opened #96 "Improve the schemes preview HTML page"
In commit 5ec4638349e46883781db351cec5a5db564464bf I added a simple `ls schemes` command:

![](http://i.imgur.com/8F1NhEp.png)

It has a lot of room for improvement :wink:

In the [original issue](#33) @Evinon contributed a mock design I like:

![](https://camo.githubusercontent.com/67574aad4316912e33e0cd344cf66e26a17bee84/687474703a2f2f61626c6f61642e64652f696d672f6465736b746f706864327836797339352

[2016-04-19 08:16] alexbooker commented on #33
Awesome :smile:

Feel free to shoot me or @aloisdg any questions.

You can message me on [Twitter](https://twitter.com/bookercodes) or add me on Hangouts (alexbooker@fastmail.im).

Oh, and I created [a new issue](https://github.com/base16-builder/base16-builder/issues/96) to keep track of all this. Please continue the conversation there!

[2016-04-21 07:42] LandonSchropp opened #97 "Converting a local scheme file to a theme"
I'm trying to compile a local scheme file into a template. When I run `base16-builder -s theme.yml -t vim`, I get the following error:

[code]

I'm assuming I'm doing something wrong, but it's not clear what that is from the error message. Am I not allowed to pass a file directly to the `-s` flag? How would I do it instead?

Here's `theme.yml`:

[code]

Thanks in advance!

[2016-04-21 08:05] alexbooker commented on #97
Hello there!

It looks like you didn't specifying the `--brightness` (`-b`) argument.

In a nutshell, you need to tell the tool which variant of the [Vim template](https://github.com/base16-builder/base16-builder/tree/master/db/templates/vim) to use. Your options are [`light`](https://github.com/base16-builder/base16-builder/blob/master/db/templates/vim/light.ejs) or [`dark`](https://github.com/ba

[2016-04-22 21:51] alexbooker commented on #97
Any update on this @LandonSchropp?

[2016-04-22 21:51] LandonSchropp commented on #97
Thanks for the response! Sorry, I've been sick. Can I give you an update in a couple days?

[2016-04-22 22:06] alexbooker commented on #97
Yes, of course. I hope you get well soon.

[2016-04-23 13:30] CrashyBang commented on #96
Hey @alexbooker,

Do we have any documentation on getting set up?

Cheers.

[2016-04-23 13:32] CrashyBang commented on #96
Hey @alexbooker,

Do we have any documentation on getting set up?

Cheers.

[2016-04-23 13:38] alexbooker commented on #96
Does [this](https://github.com/base16-builder/base16-builder/blob/master/contributing.md#development) help?

[2016-04-23 13:41] CrashyBang commented on #96
Hey @alexbooker,

Sweet just what I was looking for (sorry didn't scroll to the bottom when I checked contributing) was going to offer to write some up if needed.

Cheers.

[2016-04-23 13:42] alexbooker commented on #96
No worries. I think `Contributing.md` is _way_ too convoluted at the moment. It has some really important information by @aloisdg but I want to streamline the most commonly-needed information.

[2016-04-23 13:45] CrashyBang commented on #96
@alexbooker I think that would be a really good idea, also I wanted to ask after adding you on hangouts, is there any reason we are not using [Gitter](https://gitter.im) I think it would be a really handing for quick one off questions like the above and it's much nice for on going conversations like this?

[2016-04-23 13:46] alexbooker commented on #96
You're right, we should be using Gitter. [I'm in the room now](https://gitter.im/base16-builder/base16-builder).

[2016-04-27 04:26] LandonSchropp commented on #97
Using `-b` worked great! Thanks for the help Alex.

[2016-04-27 04:26] #97 closed

[2016-04-27 08:14] alexbooker commented on #97
You're welcome.

 Any idea how we can make this more intuitive? Do you think #74 would have helped here?

[2016-04-27 10:44] idleberg opened #100 "Define standard for comments in template files"
There is currently no standard on how to write comments in template files. While invisible to the majority of users, they can provide useful information about a theme.

* name of the theme – starting point to find out whether the theme might be available for another software
* author – who can I contact for suggestions, praise, etc.
* author of the template file – the person to talk to when discus

[2016-04-27 21:20] LandonSchropp commented on #97
In my case, I think #74 probably would have been overkill. I would have benefited from a more descriptive error message. Something like `You must include the --brightness flag. Run 'base16-builder --help' for guidance.` would have pointed me in the right direction.

[2016-04-27 21:32] LandonSchropp commented on #97
It might also help to specify all of the options are required in the `--help` documentation.

[2016-04-30 17:22] alexbooker commented on #100
Hey there, @idleberg :smile:

Well done on this proposal. I like it a lot :+1:

I think we would need to add `brightness` to the [template context](https://github.com/base16-builder/base16-builder/blob/master/lib/index.js#L6) but aside from that all the information we need is there, right?

I think you nailed the **CSS** and **non-standard** templates.

I think for **XML** templates it would be be

[2016-04-30 23:37] aloisdg commented on #100
I really like the proposition :)

A tracking list could be useful. We can generate it as a table or as a checklist.

[2016-05-01 00:54] aloisdg commented on #73
@alexbooker A quick (and dirty solution) would be to move them as first template citizen. We could create a folder "mintty16" and one "mintty256". We can add a delimiter if we want too.

[2016-05-02 20:00] #84 closed

[2016-05-02 20:01] alexbooker commented on #84
Hi, @aleprovencio. @FilipBB just contributed a [dunst template](https://github.com/base16-builder/base16-builder/tree/master/db/templates/dunst).

[2016-05-02 20:37] aleprovencio commented on #84
Thats awesome, thanks

[2016-05-06 14:10] lukas-123 opened #104 "Question about vim and 256 colors"
I use rxvt-unicode with 256 color support. `tputs` output is 256 as expected. `echo $TERM` outputs `rxvt-unicode-256color`. I use the following color configurations in my .Xresources file:
https://github.com/lukas-123/.dotfiles/blob/b9f8d65dbb7af91d408b0fc821f9d0521b036730/.Xresources

If I use the desert color theme it looks like this:
![colorscheme_desert](https://cloud.githubusercontent.com/ass

[2016-05-06 15:01] alexbooker commented on #104
I wrote a bit about this problem [here](https://github.com/base16-builder/base16-builder/issues/82#issuecomment-202837047).

You need to generate a  [shell](https://github.com/base16-builder/base16-builder/tree/master/db/templates/shell) theme and reference it from your shell using the instructions @chriskempson wrote [here](https://github.com/chriskempson/base16-shell#shells).

[2016-05-06 18:06] nakamin opened #105 "Won't work on Node v 6.0 because of broken dependency"
Quite a long chain here so bear with me:
B16B has [unicode](https://www.npmjs.com/package/unicode) as a dependency, which has [bufferstream](https://www.npmjs.com/package/bufferstream) as a dependency which has [bufferjs](https://www.npmjs.com/package/bufferjs) as a dependancy which hasn't been updated in forever and won't work on Node v 6.0
See this issue for the error message that I'm getting: h

[2016-05-06 18:17] alexbooker commented on #105
Hi :wave:

I think the `unicode` dependency must come from [`slug`](https://github.com/base16-builder/base16-builder/blob/master/package.json#L52).  `slug` hasn't been updated in quite some time but there's [`fork`](https://github.com/Zertz/mollusc) that seems to be on top of this.

[2016-05-06 18:19] nakamin commented on #105
Probably but downgrading Node fixed this for me. So I guess just put a warning in the readme for now...

[2016-05-06 18:21] alexbooker commented on #105
Any reason why we shouldn't just use the fork?

And **thank you** for taking the time to investigate this in the first place :smile:

[2016-05-06 18:25] nakamin commented on #105
No I don't see any reason, just time, how long will this take to implement? Would be good to test it too before deploy
No problem btw this tool is awesome, and I love your videos too especially the most recent one on &Vote, great stuff!

[2016-05-06 18:29] alexbooker commented on #105
Thank you :smile:!

Hm... :confused: I tried to reproduce the error but I cannot:

![](http://i.imgur.com/9BbLVc4.png)

Any ideas?

[2016-05-06 18:37] nakamin commented on #105
You already have it installed though

[2016-05-06 18:37] nakamin commented on #105
I couldn't install it and I'm also on Windows

[2016-05-06 19:38] alexbooker commented on #105
I re-installed it before running the test.

I'll check on Windows next.

[2016-05-06 19:42] nakamin commented on #105
OK btw I forgot to mention, I have the logs. I'll upload when I get back home.

[2016-05-06 19:52] alexbooker commented on #105
I managed to reproduce the error on Windows 10.

[2016-05-06 19:54] nakamin commented on #105
Good because that means I'm not wasting your time. Bad because it's broken
:sad:

On Fri, May 6, 2016, 3:52 PM Alex Booker <notifications@github.com> wrote:

[2016-05-06 20:22] alexbooker commented on #105
I made a pull request https://github.com/coolaj86/node-bufferjs/pull/14

I _think_ if @coolaj86 merges it and keeps the [major version number (`2`)](https://github.com/dodo/node-bufferstream/blob/master/package.json#L14) this will be fixed

[2016-05-06 20:31] nakamin commented on #105
If I'm not mistaken coolaj86/node-bufferjs#12 already fixes this but good job anyway. Why did they even use get?

[2016-05-06 20:47] #105 closed

[2016-05-06 21:00] alexbooker commented on #105
This should be fixed now :smile:

Thanks

[2016-05-06 21:01] nakamin commented on #105
Yep good solution lol :smile:

[2016-05-07 16:59] lukas-123 commented on #104
@alexbooker
Thank you it works now. I just thought that you don't need to set the colors with base16-shell if your terminal supports 256 colors. Apparently I was wrong.
Maybe someone could make a README or wiki entry for this case?
P.S. Your youtube tutorials are awesome :)

[2016-05-07 16:59] #104 closed

[2016-05-08 11:15] aloisdg commented on #104
It could be nice to add this to the wiki/doc. ;)

[2016-05-16 04:28] rosshadden opened #106 "Add gtk template"
It would be awesome to have Pidgin and other gtk apps use these themes.

@manpages added a commit to the original base16-bulider [here](https://github.com/manpages/base16-builder/commit/33c8df5d299d91277dbf43a12ae6f52c0bbb0483), so at best we just need to port the `erb` template over to `ejs`.

Despite the description being "Fork of base16-builder", it's not actually a fork, and thus was never mad

[2016-05-16 07:16] alexbooker commented on #106
A GTK template would be awesome and the one @manpages wrote looks perfect :+1:

@manpages, is it OK if we use the template you wrote here?

[2016-05-17 21:47] alexbooker commented on #106
@manpages said it was cool via Twitter.

@rosshadden or @aloisdg, it would be awesome if one of you could make a pull request for this -- it's just a case of porting the template to ejs. If no one else does, I'll do it this weekend 🤗

[2016-05-20 18:18] idleberg commented on #100
So, you suggest a standard XML comment, e.g.

[code]

[2016-05-20 18:23] alexbooker commented on #100
Yeah :smile:!

 Maybe exclude the `//` and `\\` parts if they're not needed (I can't remember but I _think_ `` is sufficient)

[2016-05-22 07:58] protesilaos opened #107 "Add Oliveira scheme"
YAML file: https://github.com/protesilaos/oliveira/blob/master/lb/oliveira.yml

[2016-05-22 10:12] alexbooker commented on #107
Hi 👋.

Thanks for the request.

I'm taking a break from the computer today (I'm writing to you from Android), but I'll get on this tomorrow.
In the mean time, I highly encourage you to submit a pull request. All you have to do is add the scheme you linked to [the `db/schemes`](https://github.com/base16-builder/base16-builder/tree/master/db/schemes) folder and you're good to go 👍

[2016-05-22 11:03] aloisdg commented on #107
Hello !

@protesilaos You can submit a pull request. In case of trouble, I will be around. Feel free to summon me today ;)

[2016-05-22 13:26] protesilaos commented on #107
Hello! Thank you both!

I think I prepared the PR the right way. Apologies for doing this on a Sunday. Did not mean to disturb you.

Also congratulations for re-launching this project. Wish you best of luck.

[2016-05-23 07:41] #107 closed

[2016-05-23 08:02] #106 closed

[2016-05-23 08:07] alexbooker commented on #107
You're _too_ polite -- it's no bother at all :smile:

Thank you very much for the pull request.

[2016-05-23 08:08] alexbooker commented on #106
Thank you @rosshadden  and @manpages. I made a commit: d54bb949e1d3a48fcf6a9ac772f7ca2f29e30e09.

I also [published](https://www.npmjs.com/package/base16-builder) `0.0.31`. You can update by running **`npm install -g base16-builder`**.

[2016-05-23 15:43] rosshadden commented on #106
Works great, thanks!

[2016-06-12 11:39] andjscott opened #109 "Rofi template should use '!' for comments"
Rofi's configuration is done in an Xresources file. [Xresources uses an exclamation mark](https://wiki.archlinux.org/index.php/X_resources#Commenting) to start a comment.
This is the output when loading Xresoures.
[code]

[2016-06-12 12:07] aloisdg commented on #109
Good catch! Can you submit a PR? Thank you! 😄

[2016-06-12 14:03] #109 closed

[2016-06-15 17:21] aloisdg opened #114 "Add template for some Stylish's themes"
Hello,

It would be nice to have a support of some Stylish template, wouldn't be?

* [GitHub](https://userstyles.org/styles/37035/github-dark)
* [SO](https://userstyles.org/styles/35345/stackoverflow-dark)

Cheers,

[2016-06-15 18:07] eti1337 commented on #114
I'm currently modfying the stylish file so if anyone wants to help you can clone & commit [here](https://gist.github.com/eti1337/9925492799db9c8bec938b1585055bc5)
I'll gladly merge :)

[2016-06-15 19:11] aloisdg commented on #114
@eti1337 Can you share some screenshots of the result? I would love to see it 😄

[2016-06-15 20:13] alexbooker commented on #114
Could be cool :+1:

[2016-06-16 15:28] aloisdg commented on #114
Also [Wikipedia](https://userstyles.org/styles/105844/wikipedia-dark-st).

![wikicode](https://cloud.githubusercontent.com/assets/3449303/16122522/b5e4bbc4-33e7-11e6-806d-df070791ca27.PNG)

[source](https://en.wikipedia.org/wiki/Fluent_interface#C.23)

[2016-06-16 15:49] aloisdg commented on #81
He is both when he is neither.

If you want, we are using (NOT XOR) 😉

[2016-06-16 16:02] alexbooker commented on #81
No, but seriously, what do you think?

[2016-06-16 16:07] aloisdg commented on #81
I like it like this. I am fine with the NOT XOR logic (but I am not the only user here!)

I should try conemu with both and give you my opinion after. I might change my view. 😄

[2016-06-17 07:21] alexbooker commented on #96
Thank you @ClaytonPassmore for your progress on this :+1:!

[2016-06-17 21:14] Evinon commented on #81
#### Possible Solution
If there's no dark and or bright template then base16-builder could use a fallback file marked as **filename**.default.**ending**

Instead of telling the user to retype the command with the right options, it could be done by using #74 *Interactive command-line arguments*

#### Output:
**selected_brightness** can be either *dark* or *white*

**Messages**
* ***brightness_not_a

[2016-06-21 08:49] belak opened #119 "Add original copywrite to license"
Most of the concept is still based on the work by Chris Kempson, so maybe the (c) 2012 Chris Kempson should remain in the license file.

https://github.com/chriskempson/base16-builder/blob/master/LICENSE.md

[2016-06-21 08:55] belak opened #120 "Refactor vim to include only one output theme"
The vim themes are identical, so there's no real point to having both a dark.vim and light.vim.

[2016-06-21 08:55] alexbooker commented on #119
I _genuinely_ thought I named Chris in the licence so :+1:

[2016-06-21 08:58] alexbooker commented on #120
Please join the conversation @ https://github.com/base16-builder/base16-builder/issues/81

[2016-06-21 08:58] #120 closed

[2016-06-21 10:02] belak commented on #81
As a specific example, vim has a variable that can be used to toggle this... `background` can be either `light` or `dark`. It seems a little silly to have separate themes for vim when there's a fairly well-accepted way of doing this already.

For other programs, I'm not sure if there's a clear cut solution.

[2016-06-21 10:51] aloisdg commented on #81
@belak I think it would be better to avoid to make an exception. Also It would be nice to add this in the documentation.

[2016-06-21 12:22] #59 closed

[2016-06-21 12:38] #119 closed

[2016-06-21 15:57] belak commented on #81
At least in my mind, it's not really an exception... it's using a feature of that platform to make a theme for it. If we want the base16 themes to feel like native themes and not generated themes, we should use the features and standards available for each target to make themes for it. Using the `background=light` and `background=dark` feature in vim would be an example of this.

For vim and a num

[2016-06-21 17:35] aloisdg commented on #81
It is really an effort?

For the case of vim, can we just add `background=light` in the light theme and `background=dark` in the dark theme?

Agreed.

It was a bunch of decision @alexbooker and I made when we think about the architecture of the db file. Related issues/PR #16 #19 #23

Also, we are here to talk about it, so we can change it. 😄

[2016-06-21 20:48] aloisdg commented on #81
Most of the time I use a script to generate or edit templates. Regex are perfects for this.

Also your are right. It could be possible to move some stuffs from templates to the lib. But, I am not sure that it is worth it. I am not against, I am just not sure about the gain over whole.

[2016-06-22 08:05] aloisdg commented on #81
@alexbooker For ConEmu, the original template was dark. I generated the light theme. You can see the related commit [here](https://github.com/base16-builder/base16-builder/commit/750ef8a1f88573759e2b412093fb8c4471bbe186).

[2016-06-25 22:59] alexbooker opened #126 "Move Schemes and Templates into Their Own Repositories"
As you already know, this project is based on [**@chriskempson**'s original Base16 Builder](https://github.com/chriskempson/base16-builder). My main aim when starting this project was to rejuvenate @chriskempson's tool, which hadn't been updated in months.

Recently, @chriskempson got in touch with @aloisdg and I to speak about the future of our projects.

Despite @chriskempson  wanting  to take t

[2016-06-25 23:00] xaviervalarino opened #127 "Cannot generate any of the Atelier Schemes"
I cannot seem to generate any of the _Atelier_ color schemes.
## Steps to reproduce
_e.g._
[code]
## Expected Behaviour
Output atelier* scheme
## Actual Behaviour
Output:
[code]
## Node and npm versions
Node v6.2.2
npm 3.9.5

## Base16-Builder version
1.2.0

[2016-06-25 23:11] cruor99 commented on #126
I have a suggestion for the template and scheme stuff.
In python, there's a tool called [cookiecutter](https://github.com/audreyr/cookiecutter) - which I use for boostrapping the setup of my Flask projects.

With that tool, you can either use a local folder - or a remote github project that is [set up the proper way](https://github.com/JackStouffer/cookiecutter-Flask-Foundation). This completely s

[2016-06-26 00:14] aloisdg commented on #127
Hello,

You have some errors in your command. Can you try:

    $> base16-builder -s atelier-sulphurpool -t shell -b dark

* The argument `-b` stands for brightness.
* Atelier* 's scheme use the format `atelier-{name}`

Hope it will fix your problem

[2016-06-26 00:19] aloisdg commented on #47
Is it still relevant? Should we close this?

[2016-06-26 00:22] aloisdg commented on #28
Could be use for #60

[2016-06-26 00:45] xaviervalarino commented on #127
@aloisdg Thanks, this worked!

Correct, I forgot to add the `brightness` option in my example. I've gone ahead and fixed my initial comment.

The dash makes a lot of sense now that you have shown me, but maybe this caveat should be documented? Maybe under the `--help` message output or in the HTML page generated by `ls schemes`?

[2016-06-26 00:45] #127 closed

[2016-06-26 00:52] aloisdg commented on #127
@xaviervalarino I think you are right. We will talk about this. 👍

[2016-06-26 00:54] xaviervalarino commented on #127
Let me know if you need any help

[2016-06-26 01:03] aloisdg opened #128 "Add "--version" and "--help" to the help display"
## Steps to reproduce

    $ base16-builder --help

## Expected Behaviour

[code]

## Actual Behaviour

[code]

## Node and npm versions

* Node: v6.2.2
* NPM: 3.9.5

## Base16-Builder version

1.2.0

### Additional Information

I think this two options should be present in the `help` display.

[2016-06-26 01:10] aloisdg opened #129 ""List schemes" should list schemes instead of preview"
## Steps to reproduce

    $> base16-builder ls schemes

## Expected Behaviour

*a list `ls` of a all names of schemes*

## Actual Behaviour

*a wide html page*

## Proposition

Split the preview from the listing:

* `$> base16-builder ls schemes` should list schemes name
* `$> base16-builder preview schemes` should preview schemes name

We may want to use another word than "preview". In top of my

[2016-06-26 01:11] aloisdg commented on #127
@xaviervalarino Issue created #129 😉

[2016-06-26 04:07] xaviervalarino commented on #70
A good place to start might be to reach out the the maintainers of these two repos:

1. https://github.com/daviesjamie/vim-base16-lightline
2. https://github.com/felixjung/vim-base16-lightline

**daviesjamie's** plugin looks like it is only geared towards Terminal Vim, as it only has one colorscheme that references the Terminal's color codes.

**felixjung's** has a fairly complete directory of col

[2016-06-26 11:06] aloisdg commented on #70
@xaviervalarino For the light theme, you can try to use [lumos.sh](https://gist.github.com/aloisdg/05bab6c82859173a2bb7) on it:

1. Get their themes
2. Select a theme that we also have in our schemes db (Try to get one who have dark and light support. If you cant, no problem. I use Solarized Dark most of the time.)
3. Replace each value in the original theme with their equivalent in base16 templat

[2016-06-26 11:11] aloisdg commented on #70
@xaviervalarino Here you can use any theme because they all are base16 theme. Reversed one and generate the light pattern should be very hard. Also, the dont use the same template [1](https://github.com/felixjung/vim-base16-lightline/blob/master/autoload/lightline/colorscheme/base16_default.vim) vs [2](https://github.com/daviesjamie/vim-base16-lightline/blob/master/autoload/lightline/colorscheme/b

[2016-06-26 20:01] xaviervalarino commented on #70
@aloisdg I couldn't get the lumosh script to work, but adding a simple if/else statement the lightline colorscheme file to check the background and then invert the values seems to do the trick.

It's nice that **felixjung's*** version [checks to see if base16colorspace is set to access the modified 256 colorspace](https://github.com/felixjung/vim-base16-lightline/blob/master/autoload/lightline/col

[2016-06-26 20:54] aloisdg commented on #70
@xaviervalarino Lumos.sh worked for me. You can execute it [here](http://goo.gl/obrkAm). If you edit it by hand, it is still better!

[2016-06-27 13:23] felixjung commented on #70
Hello there. Actually, I wrote a template for the base16-builder for this purpose (I think). That's how I got all the colors. Let me check, what's up with that code and see if I can also provide the light variant.

[2016-06-27 13:30] felixjung commented on #70
See, I knew I had done this and even opened a PR to the original base16-builder repo: https://github.com/chriskempson/base16-builder/pull/351

So this is moving to javascript now? I assume I should take ownership and convert this baby using the new handlebars syntax?

[2016-06-27 16:14] aloisdg commented on #70
@felixjung the syntax is almost the same. Drop the `@` before variable like `base` and it should work as expected.

[2016-06-27 16:55] aloisdg opened #130 "Move from nunjucks to ejs in contributing.md"
## Steps to reproduce

Navigate to [Writing a template](https://github.com/base16-builder/base16-builder/blob/master/contributing.md#writing-a-template) and read

## Expected Behaviour

A Base16-builder's template is an ejs file. Ejs is simple templating language for JavaScript. You can learn more about ejs files on their [page](https://github.com/mde/ejs).

## Actual Behaviour

A Base16-builder's

[2016-06-27 22:41] belak opened #131 "Consider other template engines"
One of the reasons the migration from the old base16 repos was so painful was because of the language switch. This is largely due to using language-specific template languages.

How possible would it be to use something like mustache which is very simple and has good bindings for most languages? Are there any other template languages which would be a better fit?

This would make it possible to bui

[2016-06-27 23:13] aloisdg commented on #131
_tl;dr: come talk in #126_

----

Agreed. The language-specific template language is hassle. Not quite a problem, but we want to improve this. We would love to share templates and schemes easily. We would love to see them purely language agnostic.

I never use Mustache. Can we run code in it? How its handle? The main problem with templating engine is to deal with template like [smartftp](https://g

[2016-06-28 00:03] aloisdg opened #132 "Add Visual Studio 2015 chrome template"
Hello,

There are now two kinds of template for the Visual Studio IDE. The first one is an old one concern the color of the code's syntax . We support it (and I benefit from it everyday). The second one is a new one and take the form of a `name.vstheme` file. It allows to change the color of the chrome of Visual Studio. I would be great to support it! (At least, I would use it 😉 )

I tried to star

[2016-06-28 00:04] belak commented on #131
Alright, I'll drop this in favor of #126.

[2016-06-28 00:04] #131 closed

[2016-06-28 00:07] belak commented on #126
Ah, I must have missed this when I opened #131.

What template languages would be an option? We'd need to pick a template language which works across languages and/or pick a subset of templates to use.

It seems like mustache would be the best option if we want to support the most languages, but that also forces us to remove all logic from templates (which I know was a pain in some instances).

As

[2016-06-28 06:48] chriskempson commented on #126
I've an example implementation at https://github.com/chriskempson/base16-builder-php. I'm making use of Mustache at the moment.

[2016-06-28 07:46] felixjung commented on #70
Cool, thanks. I'll see if I find some time this week.

[2016-06-28 10:08] alexbooker commented on #130
:+1:

[2016-06-28 10:14] alexbooker commented on #126
@belak I agree that to use a language-agnostic templating engine _like_ Mustache would be ideal.

I'm concerned about templates that require language-specific expressions, however. Creating a specific template for each language is a bit unwieldly in my opinion. The alternative, which is to hard-code [`context`](https://github.com/base16-builder/base16-builder/blob/master/lib/index.js#L6) propertie

[2016-06-28 10:19] chriskempson commented on #126
I'm also concerned about this. Do we have a list of all the templates that have language-specific expressions? Just wondering how many there are.

[2016-06-28 10:22] belak commented on #126
There was some work in the base16-builder/base16-builder repo to catalog some of this... some of them were not ported though.

I believe it was in #23

[2016-06-28 10:27] chriskempson commented on #126
Thanks! I see four references to ruby code in that list so I guess there are not too many :)

[2016-06-28 11:23] aloisdg commented on #70
NIce! 😄

[2016-06-28 11:25] #130 closed

[2016-06-28 11:29] aloisdg commented on #126
@chriskempson Some templates like smartftp had more than one issue. I wrote the first encountered. We will have to check all the end of the list :)

[2016-06-28 12:17] chriskempson commented on #126
@aloisdg Thanks for the link.

[2016-08-01 19:08] monrcelik opened #135 "Neovim: Function name required"
## Steps to reproduce
`base16-builder -s ocean -t vim -b dark > base16-ocean-dark.vim`

## Node and npm versions
**node:** 4.4.7
**npm:** 2.15.8

## Base16-Builder version
1.2.0

### Additional Information
In neovim I'm getting this error.
![screenshot2016-08-0121 57 09](https://cloud.githubusercontent.com/assets/14337113/17305695/508cb6a2-5834-11e6-95fb-d6fb7d481b20.png)

[2016-08-10 20:37] Probotect0r opened #136 "Vim airline themes don't work for schemes that have a space in the scheme name"
## Steps to reproduce
Generate a vim airline theme for any scheme that has a space in the name (i.e atelier-estuary).
This generate a theme with vim code like `let g:airline#themes#base16_atelier estuary#palette = {}`

The space causes the theme to be not resolved when set in your ~/.vimrc with `let g:airline_theme='themefileName'`.

I also changed the template file to use `<%schemeSlug%>` instead

[2016-08-10 21:00] Probotect0r commented on #135
How are you setting the color scheme to the one generated?

[2016-08-14 13:13] monrcelik commented on #135
I put the generated scheme into color folder. And set the colorscheme property to base16-ocean-dark.

[2016-08-21 20:54] alexbooker commented on #129
Hm, I'm not sure about this one.

In response to #127, I would rather make the tool warn that the scheme `ateliersulphurpool` could not be found, but schemes with a similar name _could_. The error might look something like this:

[2016-08-21 20:55] alexbooker commented on #129
That being said, I do not _love_ the current `ls schemes` command

[2016-08-24 00:16] belak opened #138 ""belak" folder in root of the repo"
I'm not complaining, but I'm mildly curious why there's a folder called "belak" in the root of the repo. It looks like a mistake as it only contains a submodule.

[2016-08-24 11:17] aloisdg commented on #135
I never used neovim. Are you sur that vim's theme are compatible with it? Can you compare a default neovim's theme with the one generated? Can you try the one generated on a classic vim?

Thank you 😄

[2016-08-24 21:23] CrashyBang commented on #135
Hey @monrcelik can can copy and paste your `init.vim` I have been using with neovim for a couple of months and never had any issues hopefully I can compare to mine and spot the problem :).

[2016-08-25 07:45] monrcelik commented on #135
@CrashyBang It's here. I didn't have a problem other vim themes but base16.

[init.vim.txt](https://github.com/base16-builder/base16-builder/files/436404/init.vim.txt)

[2016-08-25 09:49] CrashyBang commented on #135
Hey @monrcelik,

Two things can you try and change:

`colorscheme base16-ocean-dark`
to
`colorscheme base16-ocean`

And can you change:

`let $NVIM_TUI_ENABLE_TRUE_COLOR=1`
to
`set termguicolors` if you want to know more about this please read [here](https://github.com/neovim/neovim/wiki/Following-HEAD#20160511)

Cheers.

[2016-08-25 12:20] monrcelik commented on #135
Hey @CrashyBang. `set termguicolors` solved my problem. Thanks!

[2016-08-25 12:21] #135 closed

[2016-08-26 23:52] #138 closed

[2016-08-26 23:53] alexbooker commented on #138
😆

Not sure what happened there but it's fixed now

[2016-09-05 09:35] ilpianista opened #140 "Sync Qt Creator theme"
I just want to let you know that, following [base16 recommendations](https://github.com/chriskempson/base16-builder#base16-update), I'm maintaining Qt Creator theme [here](https://github.com/ilpianista/base16-qtcreator).

Also, maybe this repo should follow [base16-builder guidelines](https://github.com/chriskempson/base16/blob/master/builder.md) and become `base16-builder-node`?

[2016-09-21 00:44] CrashyBang commented on #126
So I was thinking about this the other day and the [vue-cli](https://github.com/vuejs/vue-cli) handles custom/external templates really well: `vue init egoist/vuepack project` where [egoist/vuepack](https://github.com/egoist/vuepack) is the repo for the template.

I was thinking something like this would work really well for base16-builder, I am envisioning something like this: `base16-builder -s

[2016-09-21 01:15] CrashyBang opened #141 "Build status in README broken"
The README build status is currently not showing the linux build, as a side note I notice both windows and linux are looking for alexbooker/base16-builder as opposed base16-builder/base16-builder does this need to be updated?

Cheers.

[2016-10-02 12:59] ftriquet opened #142 "Number arguments cause a crash"
## Steps to reproduce
```base16-builder -t i3 -b dark -s 3024```

## Expected Behaviour
The scheme to be printed

## Actual Behaviour
Causes a runtime error

[2016-10-03 05:28] aloisdg commented on #141
Yes indeed. The project used to be host in alex's page. Could you provide a fix? Thank you ☺

[2016-10-06 14:06] aloisdg opened #144 "This failure might be due to the use of legacy binary "node""
## Steps to reproduce

    npm test

## Expected Behaviour

see test output

## Actual Behaviour

[code]

## Node and npm versions

node v.0.10.25
npm 1.3.10

[2016-10-06 14:33] aloisdg commented on #144
I tried this : [Cannot install packages using node package manager in Ubuntu](http://stackoverflow.com/questions/21168141/cannot-install-packages-using-node-package-manager-in-ubuntu/21171188#21171188). The error change a bit:

aloisdg@DESKTOP-QB7FE65:/mnt/c/Users/alois/Source/Repos/base16-builder$ npm test

/mnt/c/Users/alois/Source/Repos/base16-builder/util/schemesPreviewGenerator.js:17
      ya

[2016-10-06 20:00] CrashyBang commented on #144
Hey @aloisdg can you try adding the `--harmony` flag?

[2016-10-24 09:20] omar-polo opened #145 "i3status generation error"
The configuration for i3status isn't generated correctly. I suspect that is missing a `#` on this line: https://github.com/base16-builder/base16-builder/blob/master/db/templates/i3status/dark.ejs#L8

I haven't submit any pull request because I dunno how to test if my proposal actually works
## Steps to reproduce

[code]
## Expected Behaviour

it sould print:

[code]
## Actual Behaviour

[code]
##

[2016-10-24 09:45] aloisdg commented on #145
Hello,

Thank you for finding this one. The proble exist for both the [light](https://github.com/base16-builder/base16-builder/blob/master/db/templates/i3status/light.ejs) and the [dark](https://github.com/base16-builder/base16-builder/blob/master/db/templates/i3status/dark.ejs). It is an easy fix. Do you want do submit a PR yourself? 😄

Cheers,

[2016-10-24 13:25] omar-polo commented on #145
"detto fatto" :joy:

done!

[2016-11-02 03:51] norcalli opened #147 "Scheme name is interpreted as a number for "3024""
## Steps to reproduce
`base16-builder -s 3024 -t termite`

## Expected Behaviour
Output a scheme for 3024 with termite

## Actual Behaviour
Errors out on `schemeNameOrPath.toLowerCase` is not a function.

I've already debugged this to be caused by `cli.flags` interpreting 3024 as a number instead of the theme name, so a simple fix is to force a string:
[code]

## Node and npm versions
`v5.12.0`, `

[2016-11-02 06:09] aloisdg commented on #147
Hello,

Thank you for this one!

What are the benefits of using ''+ instead of toString()? Could you open a PR with your fix?

Cheers

[2016-11-02 06:17] norcalli commented on #147
https://github.com/base16-builder/base16-builder/pull/148

[2016-11-23 14:22] robphoenix opened #150 "add clarity to i3 templates"
The i3 template might benefit from some clarity such as adding headers for background/text/indicator colours, and the i3 status template would benefit from having a degraded colour.

[2016-12-27 02:38] M1Sports20 commented on #83
Sorry, I am not working on this anymore.
Sorry to say I have migrated back to the original base16-builder

[2016-12-27 15:06] indrakaw opened #154 "Add support for Fish shell's syntax-highlighting colors."
Referred to this: https://github.com/chriskempson/base16-shell/issues/7

Yes, fish-shell is a shell, but it has syntax-highlighting colors. It can be configure by use the web configuration tool, [`fish_config`](https://fishshell.com/docs/current/commands.html#fish_config), or alter the [`fish_color` family of environment variables](https://fishshell.com/docs/current/index.html#variables-color).

[2017-01-23 20:16] aloisdg commented on #150
Thanks again 👍

[2017-01-23 20:16] #150 closed

[2017-01-23 20:30] aloisdg commented on #145
Merged! Thank you

[2017-01-23 20:30] #145 closed

[2017-02-01 08:12] aloisdg commented on #154
Hello.

Do you want to open a PR? I agree to install fish to try it.

Thank you

[2017-03-21 17:38] aleprovencio opened #156 "Polybar support"
It definitely deserves a template! :D

[2017-05-16 07:36] choucavalier commented on #154
I would love to see this too :)

[2017-05-28 05:09] chopfitzroy commented on #154
@indrakaw & @aloisdg,

If I understand correctly this [PR](https://github.com/base16-builder/base16-builder/pull/153) should cover this issue?

Cheers.

[2017-06-13 00:33] ryder-d opened #157 "Applying generated GTK2/3 Theme over existing setup"
I am having trouble applying a generated theme for GTK. I generate both GTK 2.0 and 3.0, but I can't seem to override a GTK theme that has been set in Lxappearance prior to using base16 builder. I put the files in `~.gtkrc-2.0` and `~.config/gtk-3.0/gtk.css` as defined [here](https://www.reddit.com/r/unixporn/comments/4lp6fn/matching_gtk_theme_for_base16flat_theme/d3p2e8p/).

 **Versions**

- npm

[2017-06-16 00:01] svmhdvn opened #158 "Add alacritty template"
I'd like to make a PR for this if that's okay :)

[2017-06-16 00:10] sivamahadevan commented on #158
I'd like to make a PR for this if that's okay :)

[2017-06-16 04:04] svmhdvn commented on #158
Added PR #159, please check if it's suitable.

[2017-07-26 22:37] #147 closed

[2017-09-07 14:04] zooncc opened #160 "Notepad++ template error"
## Steps to reproduce
    base16-builder -s ocean -t notepad-plus-plus -b dark

## Expected Behaviour
Output Notepad++ template.

## Actual Behaviour
Interrupted and show: An unexpected error occured while building your theme: {}

## Node and npm versions
Node.js: 6.11.2
npm: 3.10.10

## Base16-Builder version
1.3.0

### Additional Information

Notepad++ template have some errors,  `@base` is inco

[2017-09-08 00:02] reconmaster opened #161 "emacs with gtk 3.0"
As of the newest gtk release on arch linux, emacs launched with X support now whines about the following settings.

[code]

Simply commenting out the following sections at the end of the gtk-3.0 template seems to do the trick.

[code]

[2017-09-19 13:01] pjhalsli opened #163 "A short video on how to use custom themes"
Not realy an issue - more of a  a question to you guys.

Base16Builder comes with a lot of templates already so my idea was to build a scheme using terminal.sexy or even pywal. Then as a yml  file import it to B16B and have a consistent look in all my programs.  I've been trying to do this several times but always fail.

Would be really nice if someone like for example  bookercodes  (he should be

[2017-09-19 13:12] pjhalsli commented on #156
Second that

But pywal already does this.  For themeing I use B16B - Terminal.Sexy and pywal.  When they can interact a little - it's perfection. In theory pywal exports to yml so one can use that theme in B16B and pywal changes polybar as it reads from .Xresources.

But ofc I support your idea - it would make it all a lot easier

[2017-09-19 19:33] touste opened #164 "Vscode template error"
## Steps to reproduce

base16-builder -s eighties -t vscode -b dark

## Expected Behaviour

output vscode template

## Actual Behaviour

An unexpected error occured while building your theme: {"path":""}

## Node and npm versions

node v8.5.0
npm 5.3.0

## Base16-Builder version

1.3.0

### Additional Information

[2017-10-26 18:39] emberquill commented on #164
I'm getting the same error with the vscode template. Other templates seem to work fine.

[code]

### Version Info
- Node v8.7.0
- npm 5.5.1
- base16-builder 1.3.0

[2017-12-20 11:46] #163 closed, assigned to nobody

[2017-12-20 15:19] aleprovencio commented on #157
Although I can go back to defaults by deleting the files lxappearance creates (gtkrc and settings.ini) I also face this problem. Maybe newer versions of GTK are not honoring confs from ~/.config/gtk-3.0/gtk.css file? Also I don't see a HighContrastInverse theme installed on my system which this template seem to import.

[2018-01-07 22:03] Drulac opened #165 "Use template-literal instead of EJS"
[Template Literal](https://github.com/Drulac/template-literal) is fastest, smallest and simplest template engine, because it use JS's literal template feature.

It's  55 times faster than EJS, and it also use less CPU and RAM ressources, so it may be a good idea to use it instead of EJS 😀

[2018-02-26 22:58] LandonSchropp opened #167 "Neovim template is missing"
## Steps to Teproduce

* Install latest `base16-builder`: `npm install -g base16-builder`
* Try to generate a Neovim theme: `base16-builder -t nvim -s oceanicnext -b light`

## Expected Behaviour

The theme will be printed to stdout

## Actual Behaviour

The utility prints the following error: `Could not find template nvim.`

## Node and NPM Versions

Node: 9.6.1
NPM: 5.6.0
Base16 Builder: 1.3.0

[2018-05-10 13:52] Koschi13 commented on #167
I have the same Problem, I already tried to add it manually to `/usr/lib/node_modules/base16-build/db/templates` but that didn't worked

[2018-05-11 04:39] LandonSchropp commented on #167
@Biskit1943 I [downloaded the template](https://github.com/LandonSchropp/dotfiles/blob/master/hooks/post-up/vim_themes) and specified the file path in the CLI arguments.

I think this project has been abandoned, which is a bit of a bummer.

[2018-08-14 15:37] TheMartes commented on #164
Well, after a quick investigation, the error with the template was following.
[code]

So my workaround to that was to delete this line from vscode template, and rebuild whole package. Then, everything was working fine.  Also this problem is related to textmate, which has same template, so the error persists.

[2019-10-10 16:12] shosanna commented on #157
Hey, I am having the same problem .. Any news on the issue? :)

[2019-12-21 11:04] elkcl opened #171 "What are the dotfiles used in the demo gif?"
I just really like how urxvt in the demo gif looks, so I wanted to know if the dotfiles used are available. Thanks.

[2020-10-10 15:02] pinpox commented on #157
@DevonRyder @aleprovencio @shosanna did anyone of you solve this? I'm having the same problem - the gtk.css files are ignored.

In lxappearance I have no themes, since I didn't install any. Maybe I have to have a particular theme installed for this to work?
I have noticed not all themes allow to override colors in lxappearance, maybe I need one that does? In that case, which?

[2020-10-13 15:14] aleprovencio commented on #157
@pinpox , not using this tool anymore, sorry mate

[2020-11-18 17:43] dapetcu21 opened #172 "Add macOS Terminal.app scheme"
I don't have the time to do a PR right now, but I might later on

[2021-05-06 16:28] SenchoPens opened #174 "Merge existing pull requests and create a new release"
Hi, this repo seems half-dead, doing what's in the title will help. I will update the package in nixpkgs once the new release is made.